
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 279.8rem;
}.desktop-5-rJB {
  box-sizing: border-box;
  padding: 17.2rem 0rem 19.702rem 0rem;
  width: 100%;
  height: 402.8rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.desktop-5-rJB .case-studies-irB {
  box-sizing: border-box;
  padding: 0 83.9rem;
  width: 327.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-5-rJB .case-studies-irB .divframer-m7zs3h-CWT {
  width: 100%;
  height: 8rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.0860000029), 0 0.2289rem 0.2289rem rgba(0, 0, 0, 0.1449999958), 0 0.0602rem 0.0602rem rgba(0, 0, 0, 0.1570000052);
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m7zs3h-CWT .pframer-text-vST {
  width: 9.9rem;
  height: 2.4089rem;
  cursor: pointer;
  position: absolute;
  left: 81.119rem;
  top: 2.71rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5999999728;
  letter-spacing: 0.056rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-m7zs3h-CWT .pframer-text-wMZ {
  width: 5.3rem;
  height: 2.4089rem;
  cursor: pointer;
  position: absolute;
  left: 94.252rem;
  top: 2.71rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5999999728;
  letter-spacing: 0.056rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-m7zs3h-CWT .pframer-text-dEP {
  width: 9.8rem;
  height: 2.4089rem;
  cursor: pointer;
  position: absolute;
  left: 102.764rem;
  top: 2.71rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5999999728;
  letter-spacing: 0.056rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-m7zs3h-CWT .pframer-text-WZ5 {
  width: 15.4rem;
  height: 2.4089rem;
  cursor: pointer;
  position: absolute;
  left: 115.775rem;
  top: 2.71rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5999999728;
  letter-spacing: 0.056rem;
  color: #2996f5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-m7zs3h-CWT .pframer-text-Q8f {
  width: 3.3rem;
  height: 2.4089rem;
  cursor: pointer;
  position: absolute;
  left: 134.438rem;
  top: 2.71rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5999999728;
  letter-spacing: 0.056rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-m7zs3h-CWT .after-snw {
  width: 160rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
  box-sizing: border-box;
}
.desktop-5-rJB .case-studies-irB .divframer-m7zs3h-CWT .link-biw {
  width: 13.986rem;
  height: 4rem;
  position: absolute;
  left: 143.3rem;
  top: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1999999455;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.0500000007), 0 1.3647rem 1.3647rem rgba(0, 0, 0, 0.1059999987), 0 0.6866rem 0.6866rem rgba(0, 0, 0, 0.125), 0 0.3622rem 0.3622rem rgba(0, 0, 0, 0.1369999945), 0 0.1807rem 0.1807rem rgba(0, 0, 0, 0.1449999958), 0 0.0707rem 0.0707rem rgba(0, 0, 0, 0.150000006);
  background-color: #f7931e;
  border-radius: 0.5rem;
}
.desktop-5-rJB .case-studies-irB .divframer-1r34d7w-5Gj {
  box-sizing: border-box;
  padding: 20.541rem 8rem 20.54rem 8rem;
  width: 100%;
  height: 60rem;
  overflow: hidden;
  position: relative;
  background-color: #ee2a00;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-1r34d7w-5Gj .divframer-1523elm-Q47 {
  width: 40rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.desktop-5-rJB .case-studies-irB .divframer-1r34d7w-5Gj .divframer-1523elm-Q47 .case-studies-Yg7 {
  margin-bottom: 1.3446rem;
  display: flex;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-1r34d7w-5Gj .divframer-1523elm-Q47 .below-are-just-a-handful-of-successful-campaigns-with-earlier-clients-read-on-for-further-information-or-play-any-of-the-games-mentioned-in-each-case-enjoy-THH {
  max-width: 40.5rem;
  display: flex;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.2999999637;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 {
  box-sizing: border-box;
  padding: 4.55rem 36.25rem;
  width: 100%;
  height: 19.8rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0.2rem 2rem 1.608rem rgba(0, 0, 0, 0.1599999964), 0.0638rem 0.6383rem 0.5132rem rgba(0, 0, 0, 0.1099999994), 0.0241rem 0.2415rem 0.1941rem rgba(0, 0, 0, 0.0979999974), 0.008rem 0.0796rem 0.064rem rgba(0, 0, 0, 0.0900000036);
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP .auto-group-uvr5-PaF {
  box-sizing: border-box;
  padding: 1.95rem 4.9rem 1.95rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 4.9rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP .auto-group-uvr5-PaF .mfobkmcpd5ndurqetlpdlwqieupng-i6j {
  margin-bottom: 0.0009rem;
  width: 10.1rem;
  height: 5.405rem;
  position: relative;
  background-size: 82.035% 100%;
  background-position: 0.9072rem 0;
  background-image: url('../assets/mfobkmcpd5ndurqetlpdlwqieupng-1zP.png');
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP .auto-group-uvr5-PaF .c2tqy5ef19inqiamvxuwzffepng-NSB {
  width: 13rem;
  height: 6.8rem;
  position: relative;
  background-size: 87.236% 100%;
  background-position: 0.8296rem 0;
  background-image: url('../assets/c2tqy5ef19inqiamvxuwzffepng-d59.png');
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP .auto-group-uvr5-PaF .lvssumfeya9rjionyy6klkl8png-fAP {
  width: 9.5rem;
  height: 6.8rem;
  position: relative;
  background-size: 82.591% 100%;
  background-image: url('../assets/lvssumfeya9rjionyy6klkl8png-t2s.png');
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP .n5yo1xwg60jk9zl2qqnraaofyfipng-kBq {
  width: 11.2rem;
  height: 10.7rem;
  position: relative;
  background-size: 95.536% 100%;
  background-position: 0.25rem 0;
  background-image: url('../assets/n5yo1xwg60jk9zl2qqnraaofyfipng-4f1.png');
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP .auto-group-h3kb-qDH {
  box-sizing: border-box;
  padding: 1.4rem 0rem 1.4rem 4.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP .auto-group-h3kb-qDH .ss3zu7mqaynnkxcdmyillmpng-ZQB {
  margin-right: 4.9rem;
  width: 10.2rem;
  height: 7.9rem;
  position: relative;
  background-size: 77.451% 100%;
  background-image: url('../assets/ss3zu7mqaynnkxcdmyillmpng-KUB.png');
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-19qnjpi-uf5 .divframer-xs6r5r-3WP .auto-group-h3kb-qDH .t9xgbanqfarboyxpbrlapoj34b4png-rPH {
  width: 9rem;
  height: 7.9rem;
  position: relative;
  background-size: 100% 32.709%;
  background-image: url('../assets/t9xgbanqfarboyxpbrlapoj34b4png-Noh.png');
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-1c7mvju-CLf {
  box-sizing: border-box;
  padding: 7.45rem 33.331rem 6.05rem 33.369rem;
  width: 100%;
  height: 26.7rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-1c7mvju-CLf .divframer-ky00gb-hoD {
  width: 100%;
  height: 100%;
  position: relative;
}
.desktop-5-rJB .case-studies-irB .divframer-1c7mvju-CLf .divframer-ky00gb-hoD .heading-2-3MH {
  width: 93.3rem;
  height: 11.55rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-1c7mvju-CLf .divframer-ky00gb-hoD .heading-2-3MH .link-gamify-Ago {
  width: 93.3rem;
  height: 3.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-1c7mvju-CLf .divframer-ky00gb-hoD .heading-2-3MH .games-for-brands-such-as-bananaboat-kfc-redballoon-nissan-amongst-over-9700-other-businesses-ranging-from-corporations-to-local-businesses-3Eo {
  width: 92.2rem;
  height: 9.9rem;
  position: absolute;
  left: 0.5409rem;
  top: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-rJB .case-studies-irB .divframer-1c7mvju-CLf .divframer-ky00gb-hoD .showing-that-gamify-not-only-delivers-but-that-no-job-is-too-big-or-too-small-F5y {
  width: 75.6rem;
  height: 3.3rem;
  position: absolute;
  left: 8.8625rem;
  top: 9.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH {
  margin-bottom: 0rem;
  box-sizing: border-box;
  padding: 6.9rem 29.834rem 18rem 30rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .heading-1-companies-weve-partnered-with-miX {
  margin: 0rem 0.134rem 8rem 0rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #444444;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw {
  box-sizing: border-box;
  padding-bottom: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP {
  margin: 0rem 0.4rem 6rem 0rem;
  width: calc(100% - 0.4rem);
  height: 53.933rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK {
  box-sizing: border-box;
  padding-right: 6.933rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-fwlgyx-Bfm {
  margin-right: 10.733rem;
  width: 24.6rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-fwlgyx-Bfm .link-3lvssumfeya9rjionyy6klkl8png-v7Z {
  margin-bottom: 2.95rem;
  width: 20.533rem;
  height: 20.533rem;
  position: relative;
  background-size: 100% 86.667%;
  background-position: 0 1.3689rem;
  background-image: url('../assets/link-3lvssumfeya9rjionyy6klkl8png.png');
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-fwlgyx-Bfm .divframer-19ikv6l-zNK {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-fwlgyx-Bfm .divframer-19ikv6l-zNK .banana-boat-wHZ {
  margin-bottom: 3.55rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-fwlgyx-Bfm .divframer-19ikv6l-zNK .a-story-of-powerful-collaboration-and-exciting-player-reward-the-perfect-gamification-campaign-in-collaboration-with-tlc-FJF {
  margin-bottom: 3.5rem;
  max-width: 24.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-fwlgyx-Bfm .divframer-19ikv6l-zNK .link-WV5 {
  width: 19.945rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-hx9r36-nhV {
  width: 28.4rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-hx9r36-nhV .link-c2tqy5ef19inqiamvxuwzffepng-w4b {
  margin-bottom: 2.95rem;
  width: 20.533rem;
  height: 20.533rem;
  position: relative;
  background-size: 100% 59.961%;
  background-position: 0 4.1106rem;
  background-image: url('../assets/link-c2tqy5ef19inqiamvxuwzffepng.png');
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-hx9r36-nhV .divframer-uhat11-14T {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-hx9r36-nhV .divframer-uhat11-14T .kfc-9wM {
  margin-bottom: 2.15rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-hx9r36-nhV .divframer-uhat11-14T .kfc-japan-used-gamify-to-get-over-850000-plays-and-over-600-hours-playtime-to-promote-a-new-product-faster-than-ever-before-TSF {
  margin-bottom: 2.1rem;
  max-width: 28.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .auto-group-qvw7-FGK .divframer-hx9r36-nhV .divframer-uhat11-14T .link-WvK {
  width: 19.945rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .divframer-1is7wl9-QF1 {
  width: 29.1rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .divframer-1is7wl9-QF1 .link-0hehgdxd9he3y5dsyizdgrcpx0png-kZm {
  margin-bottom: 2.95rem;
  width: 20.533rem;
  height: 20.533rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-0hehgdxd9he3y5dsyizdgrcpx0png.png');
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .divframer-1is7wl9-QF1 .divframer-1rsfpax-dtT {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .divframer-1is7wl9-QF1 .divframer-1rsfpax-dtT .resmed-Pcj {
  margin-bottom: 0.05rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .divframer-1is7wl9-QF1 .divframer-1rsfpax-dtT .see-how-resmeds-campaign-with-gamify-helped-them-bring-more-people-to-their-websiteto-take-their-sleep-apnea-testbuild-brand-awareness-and-educate-their-extended-audience-on-sleep-apnea-GgX {
  max-width: 29.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-dbkk-8xP .divframer-1is7wl9-QF1 .divframer-1rsfpax-dtT .link-6fZ {
  width: 19.947rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh {
  margin-right: 0.8rem;
  width: calc(100% - 0.8rem);
  height: 51.133rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb {
  box-sizing: border-box;
  padding-right: 6.133rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-15f57oq-3DR {
  margin-right: 7.033rem;
  width: 28.3rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-15f57oq-3DR .link-zuknefpbjaptrkhowxrfr1qe28svg-z8f {
  margin-bottom: 2.95rem;
  width: 20.533rem;
  height: 20.533rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-15f57oq-3DR .divframer-1wy6j7k-HdZ {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-15f57oq-3DR .divframer-1wy6j7k-HdZ .wendys-qQB {
  margin-bottom: 1.15rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-15f57oq-3DR .divframer-1wy6j7k-HdZ .wendys-has-used-gamify-on-multiple-marketing-campaigns-to-change-buyerbehaviourand-educate-customers-on-new-products-k1M {
  margin-bottom: 1.1rem;
  max-width: 28.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-15f57oq-3DR .divframer-1wy6j7k-HdZ .link-okK {
  width: 19.945rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-fcx0rw-HfV {
  width: 29.2rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-fcx0rw-HfV .link-n5yo1xwg60jk9zl2qqnraaofyfipng-qh1 {
  margin-bottom: 2.95rem;
  width: 20.533rem;
  height: 20.533rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-n5yo1xwg60jk9zl2qqnraaofyfipng.png');
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-fcx0rw-HfV .divframer-hrco9v-XZq {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-fcx0rw-HfV .divframer-hrco9v-XZq .nissan-5LT {
  margin-bottom: 2.65rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-fcx0rw-HfV .divframer-hrco9v-XZq .how-a-popular-car-brand-used-gamification-at-a-sporting-event-to-build-awareness-around-their-intelligent-mobility-technology-zTR {
  margin-bottom: 2.6rem;
  max-width: 29.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .auto-group-rsyb-Vxb .divframer-fcx0rw-HfV .divframer-hrco9v-XZq .link-Tbu {
  width: 19.945rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .divframer-int1bt-YdM {
  width: 28.7rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .divframer-int1bt-YdM .link-0t6ezyuyn2xiv1mfsyorqd084lipng-6es {
  margin-bottom: 2.95rem;
  width: 20.533rem;
  height: 20.533rem;
  position: relative;
  background-size: 100% 99.609%;
  background-position: 0 0.0401rem;
  background-image: url('../assets/link-0t6ezyuyn2xiv1mfsyorqd084lipng.png');
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .divframer-int1bt-YdM .divframer-upsaui-N6b {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .divframer-int1bt-YdM .divframer-upsaui-N6b .red-balloon-74B {
  margin-bottom: 0.05rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .divframer-int1bt-YdM .divframer-upsaui-N6b .see-how-a-popular-online-brand-gained-a-better-understanding-of-their-database-through-engage-and-reward-gamification-and-some-friendly-competition-d2X {
  max-width: 28.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-5k75-CYw .auto-group-taph-mmh .divframer-int1bt-YdM .divframer-upsaui-N6b .link-GLP {
  width: 19.947rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT {
  width: 100%;
  height: 55.932rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1uci7bs-u8T {
  margin-right: 6.033rem;
  width: 29.3rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1uci7bs-u8T .link-kfeb0szznrjn6udz2twsvc2kupng-EgX {
  margin-bottom: 2.949rem;
  width: 20.533rem;
  height: 20.533rem;
  position: relative;
  background-size: 100% 71.333%;
  background-position: 0 2.9431rem;
  background-image: url('../assets/link-kfeb0szznrjn6udz2twsvc2kupng.png');
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1uci7bs-u8T .divframer-1fdgxt1-We3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1uci7bs-u8T .divframer-1fdgxt1-We3 .pita-pit-U55 {
  margin-bottom: 6.65rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1uci7bs-u8T .divframer-1fdgxt1-We3 .pita-pit-was-looking-to-engage-new-customers-andpromote-its-sponsorship-and-partnership-with-the-block-nz-Phq {
  margin-bottom: 6.6rem;
  max-width: 29.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1uci7bs-u8T .divframer-1fdgxt1-We3 .link-43H {
  width: 19.945rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1tn0v5k-9aX {
  margin-right: 6.233rem;
  width: 29.1rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1tn0v5k-9aX .link-wungo526ng2bqokqcf08hrsraxajpg-V8b {
  margin-bottom: 2.949rem;
  width: 20.533rem;
  height: 20.533rem;
  position: relative;
  background-size: 96.93% 100%;
  background-position: 0.3152rem 0;
  background-image: url('../assets/link-wungo526ng2bqokqcf08hrsraxajpg.png');
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1tn0v5k-9aX .divframer-ex505a-AVd {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1tn0v5k-9aX .divframer-ex505a-AVd .auto-group-f82b-vDu {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 25.65rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1tn0v5k-9aX .divframer-ex505a-AVd .auto-group-f82b-vDu .v-energy-rNT {
  width: 10rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1tn0v5k-9aX .divframer-ex505a-AVd .auto-group-f82b-vDu .see-how-the-popular-energy-drink-brand-v-was-looking-to-engage-customers-and-promote-their-latest-energy-drink-product-along-with-their-other-objective-to-capture-user-data-for-future-marketing-campaigns-Ma7 {
  width: 29.1rem;
  height: 22.4rem;
  position: absolute;
  left: 0;
  top: 3.25rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-1tn0v5k-9aX .divframer-ex505a-AVd .link-YuV {
  width: 19.945rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-g93rsn-SEB {
  width: 29.5rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-g93rsn-SEB .link-5ycouf14gh3wc2mnjd7rcpzniwebp-arB {
  margin-bottom: 2.949rem;
  width: 20.533rem;
  height: 20.533rem;
  position: relative;
  background-size: 100% 58.73%;
  background-position: 0 4.237rem;
  background-image: url('../assets/link-5ycouf14gh3wc2mnjd7rcpzniwebp.png');
  border-radius: 2rem;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-g93rsn-SEB .divframer-1s6dmw0-4WT {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-g93rsn-SEB .divframer-1s6dmw0-4WT .donut-papi-oyq {
  margin-bottom: 5.25rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #007fee;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-g93rsn-SEB .divframer-1s6dmw0-4WT .how-a-small-donut-shop-in-sydney-australia-used-gamification-to-increase-organic-social-shares-and-their-email-database-by-581-w4T {
  margin-bottom: 5.2rem;
  max-width: 29.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #888888;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .divframer-m5ob1h-gBH .divframer-rti90w-eXR .auto-group-9k23-kWT .divframer-g93rsn-SEB .divframer-1s6dmw0-4WT .link-BzP {
  width: 19.947rem;
  height: 4.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7931e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 {
  width: 100%;
  height: 40.7rem;
  position: relative;
  background-color: #ee2a00;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF {
  width: 93.8rem;
  height: 19.9rem;
  position: absolute;
  left: 31rem;
  top: 6rem;
  display: flex;
  align-items: center;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd {
  box-sizing: border-box;
  padding-right: 11.6rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-hlr9m1-4go {
  margin-right: 13.3rem;
  width: 10.4rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-hlr9m1-4go .product-QVm {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-hlr9m1-4go .divframer-pdb21q-8gf {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-hlr9m1-4go .divframer-pdb21q-8gf .auto-group-cukv-HpT {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-hlr9m1-4go .divframer-pdb21q-8gf .auto-group-cukv-HpT .link-game-library-Ejh {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-hlr9m1-4go .divframer-pdb21q-8gf .auto-group-cukv-HpT .link-help-centre-MZR {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-hlr9m1-4go .divframer-pdb21q-8gf .link-make-a-game-5kK {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-1ndkbvi-ah5 {
  margin-right: 8.6rem;
  width: 15.6rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-1ndkbvi-ah5 .learn-Jsy {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-1ndkbvi-ah5 .divframer-z78be-Emd {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-1ndkbvi-ah5 .divframer-z78be-Emd .link-video-resources-aqV {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-1ndkbvi-ah5 .divframer-z78be-Emd .link-what-is-gamification-VxT {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-1ndkbvi-ah5 .divframer-z78be-Emd .auto-group-iigw-RbD {
  box-sizing: border-box;
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-1ndkbvi-ah5 .divframer-z78be-Emd .auto-group-iigw-RbD .link-case-studies-mf5 {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-1ndkbvi-ah5 .divframer-z78be-Emd .auto-group-iigw-RbD .link-blog-gX9 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-o0uilp-c9u {
  width: 9.1rem;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-o0uilp-c9u .support-m2o {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-o0uilp-c9u .divframer-1e0nvuu-JHd {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-o0uilp-c9u .divframer-1e0nvuu-JHd .auto-group-g8bz-TRR {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-o0uilp-c9u .divframer-1e0nvuu-JHd .auto-group-g8bz-TRR .link-about-us-1Sw {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-o0uilp-c9u .divframer-1e0nvuu-JHd .auto-group-g8bz-TRR .link-contact-us-vZu {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .auto-group-mrqk-jPd .divframer-o0uilp-c9u .divframer-1e0nvuu-JHd .link-help-centre-Fs5 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP {
  width: 25.2rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP .top-articles-M9R {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP .divframer-19aelvq-VWX {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP .divframer-19aelvq-VWX .auto-group-cs8p-ePR {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP .divframer-19aelvq-VWX .auto-group-cs8p-ePR .link-advergaming-aXy {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP .divframer-19aelvq-VWX .auto-group-cs8p-ePR .link-gamification-marketing-uaF {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP .divframer-19aelvq-VWX .auto-group-cs8p-ePR .link-game-marketing-SKH {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP .divframer-19aelvq-VWX .auto-group-cs8p-ePR .link-gamification-Am5 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-1yzb8x0-QcF .divframer-faa0jr-PiP .divframer-19aelvq-VWX .link-successful-marketing-campaigns-Wa3 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw {
  width: 100rem;
  height: 5.8rem;
  position: absolute;
  left: 31rem;
  top: 31.9rem;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .gamify-all-rights-reserved-privacy-policy-xgw {
  width: 35.9rem;
  height: 1.6rem;
  position: absolute;
  left: 0;
  top: 3.4409rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2000000293;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .divframer-uvzujr-container-rGX {
  box-sizing: border-box;
  padding: 0.233rem 0.18rem 0.233rem 0.35rem;
  width: 25.6rem;
  height: 2.8rem;
  position: absolute;
  left: 74.4rem;
  top: 3rem;
  display: flex;
  align-items: center;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .divframer-uvzujr-container-rGX .link-svg-KR1 {
  margin: 0rem 1.53rem 0rem 0rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .divframer-uvzujr-container-rGX .link-svg-Ens {
  margin: 0.116rem 1.413rem 0rem 0rem;
  width: 2.4407rem;
  height: 1.9833rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .divframer-uvzujr-container-rGX .link-svg-9Q3 {
  margin-right: 1.5833rem;
  width: 2.3333rem;
  height: 2.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .divframer-uvzujr-container-rGX .link-svg-Ux7 {
  margin: 0rem 1.583rem 0rem 0rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .divframer-uvzujr-container-rGX .link-svg-ojV {
  margin-right: 1.4667rem;
  width: 2.3333rem;
  height: 2.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .divframer-uvzujr-container-rGX .link-svg-wao {
  margin-right: 1.413rem;
  width: 2.3333rem;
  height: 2.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .divframer-uvzujr-container-rGX .link-svg-szF {
  margin-top: 0.1164rem;
  width: 2.4407rem;
  height: 1.9833rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .divframer-iitih6-Ekw .after-cS3 {
  width: 100rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.desktop-5-rJB .case-studies-irB .footer-TS7 .after-KrF {
  width: 160rem;
  height: 40.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(0, 0, 0, 0.0500000007);
  box-sizing: border-box;
}
