
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 279.8rem;
}.desktop-5-rJB {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 17.2rem 0rem 19.702rem 0rem;
  width: 100%;
  height: 402.8rem;
  overflow: hidden;
  position: relative;

  .case-studies-irB {
    width: 327.8rem;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 83.9rem;

    .divframer-m7zs3h-CWT {
      height: 8rem;
      position: relative;
      overflow: hidden;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.0860000029), 0 0.2289rem 0.2289rem rgba(0, 0, 0, 0.1449999958), 0 0.0602rem 0.0602rem rgba(0, 0, 0, 0.1570000052);
      background-color: #ffffff;
      flex-shrink: 0;
      width: 100%;

      .pframer-text-vST {
        left: 81.119rem;
        top: 2.71rem;
        display: flex;
        position: absolute;
        font-size: 1.4rem;
        line-height: 1.5999999728;
        color: #007fee;
        width: 9.9rem;
        height: 2.4089rem;
        cursor: pointer;
        white-space: nowrap;
        font-weight: 700;
        letter-spacing: 0.056rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .pframer-text-wMZ {
        letter-spacing: 0.056rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.3rem;
        display: flex;
        font-size: 1.4rem;
        height: 2.4089rem;
        cursor: pointer;
        position: absolute;
        line-height: 1.5999999728;
        color: #007fee;
        left: 94.252rem;
        top: 2.71rem;
        font-weight: 700;
      }
      .pframer-text-dEP {
        cursor: pointer;
        top: 2.71rem;
        height: 2.4089rem;
        line-height: 1.5999999728;
        color: #007fee;
        font-family: Inter, 'Source Sans Pro';
        width: 9.8rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        white-space: nowrap;
        left: 102.764rem;
        font-weight: 700;
        letter-spacing: 0.056rem;
      }
      .pframer-text-WZ5 {
        height: 2.4089rem;
        display: flex;
        width: 15.4rem;
        cursor: pointer;
        top: 2.71rem;
        color: #2996f5;
        font-weight: 700;
        line-height: 1.5999999728;
        white-space: nowrap;
        position: absolute;
        left: 115.775rem;
        font-size: 1.4rem;
        letter-spacing: 0.056rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .pframer-text-Q8f {
        font-size: 1.4rem;
        color: #007fee;
        height: 2.4089rem;
        left: 134.438rem;
        display: flex;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        width: 3.3rem;
        top: 2.71rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        cursor: pointer;
        position: absolute;
        line-height: 1.5999999728;
      }
      .after-snw {
        width: 160rem;
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
        box-sizing: border-box;
      }
      .link-biw {
        top: 2rem;
        font-weight: 600;
        color: #000000;
        height: 4rem;
        position: absolute;
        overflow: hidden;
        display: flex;
        border-radius: 0.5rem;
        justify-content: center;
        font-size: 1.4rem;
        box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.0500000007), 0 1.3647rem 1.3647rem rgba(0, 0, 0, 0.1059999987), 0 0.6866rem 0.6866rem rgba(0, 0, 0, 0.125), 0 0.3622rem 0.3622rem rgba(0, 0, 0, 0.1369999945), 0 0.1807rem 0.1807rem rgba(0, 0, 0, 0.1449999958), 0 0.0707rem 0.0707rem rgba(0, 0, 0, 0.150000006);
        background-color: #f7931e;
        width: 13.986rem;
        left: 143.3rem;
        align-items: center;
        line-height: 1.1999999455;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .divframer-1r34d7w-5Gj {
      padding: 20.541rem 8rem 20.54rem 8rem;
      width: 100%;
      height: 60rem;
      overflow: hidden;
      position: relative;
      background-color: #ee2a00;
      flex-shrink: 0;
      box-sizing: border-box;

      .divframer-1523elm-Q47 {
        width: 40rem;
        height: 100%;
        overflow: hidden;
        position: relative;

        .case-studies-Yg7 {
          margin-bottom: 1.3446rem;
          font-size: 5.5rem;
          line-height: 1.2;
          letter-spacing: -0.2rem;
          display: flex;
          font-weight: 700;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .below-are-just-a-handful-of-successful-campaigns-with-earlier-clients-read-on-for-further-information-or-play-any-of-the-games-mentioned-in-each-case-enjoy-THH {
          display: flex;
          font-size: 2.1rem;
          font-weight: 400;
          line-height: 1.2999999637;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          max-width: 40.5rem;
        }
      }
    }
    .divframer-19qnjpi-uf5 {
      background-color: #ffffff;
      height: 19.8rem;
      box-shadow: 0.2rem 2rem 1.608rem rgba(0, 0, 0, 0.1599999964), 0.0638rem 0.6383rem 0.5132rem rgba(0, 0, 0, 0.1099999994), 0.0241rem 0.2415rem 0.1941rem rgba(0, 0, 0, 0.0979999974), 0.008rem 0.0796rem 0.064rem rgba(0, 0, 0, 0.0900000036);
      width: 100%;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.55rem 36.25rem;

      .divframer-xs6r5r-3WP {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-uvr5-PaF {
          box-sizing: border-box;
          padding: 1.95rem 4.9rem 1.95rem 0rem;
          height: 100%;
          display: flex;
          column-gap: 4.9rem;
          align-items: center;
          flex-shrink: 0;

          .mfobkmcpd5ndurqetlpdlwqieupng-i6j {
            height: 5.405rem;
            position: relative;
            background-size: 82.035% 100%;
            background-position: 0.9072rem 0;
            background-image: url('REPLACE_IMAGE:de1a2bd473e099e5b982b36244d15774a2cab877');
            flex-shrink: 0;
            margin-bottom: 0.0009rem;
            width: 10.1rem;
          }
          .c2tqy5ef19inqiamvxuwzffepng-NSB {
            width: 13rem;
            height: 6.8rem;
            position: relative;
            background-size: 87.236% 100%;
            background-position: 0.8296rem 0;
            background-image: url('REPLACE_IMAGE:7e1d8751462546c6a9467fd888ec4355c8d8734e');
            flex-shrink: 0;
          }
          .lvssumfeya9rjionyy6klkl8png-fAP {
            width: 9.5rem;
            height: 6.8rem;
            position: relative;
            background-size: 82.591% 100%;
            background-image: url('REPLACE_IMAGE:e3d253cbcb6779dade991bcab04e35b7cf2922b9');
            flex-shrink: 0;
          }
        }
        .n5yo1xwg60jk9zl2qqnraaofyfipng-kBq {
          background-size: 95.536% 100%;
          background-position: 0.25rem 0;
          background-image: url('REPLACE_IMAGE:17325ee5a4f77daea46edf2939a38535ea08df90');
          flex-shrink: 0;
          width: 11.2rem;
          height: 10.7rem;
          position: relative;
        }
        .auto-group-h3kb-qDH {
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 0rem 1.4rem 4.9rem;
          height: 100%;
          display: flex;

          .ss3zu7mqaynnkxcdmyillmpng-ZQB {
            background-image: url('REPLACE_IMAGE:f5faf6ffe93f10a4b02a82d9d56f0381fb2c9a73');
            flex-shrink: 0;
            margin-right: 4.9rem;
            width: 10.2rem;
            height: 7.9rem;
            position: relative;
            background-size: 77.451% 100%;
          }
          .t9xgbanqfarboyxpbrlapoj34b4png-rPH {
            flex-shrink: 0;
            width: 9rem;
            height: 7.9rem;
            position: relative;
            background-size: 100% 32.709%;
            background-image: url('REPLACE_IMAGE:114fbae4f442a6efcd02a3e5a8e4099fd8ec4e0c');
          }
        }
      }
    }
    .divframer-1c7mvju-CLf {
      height: 26.7rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 7.45rem 33.331rem 6.05rem 33.369rem;
      width: 100%;

      .divframer-ky00gb-hoD {
        width: 100%;
        height: 100%;
        position: relative;

        .heading-2-3MH {
          width: 93.3rem;
          height: 11.55rem;
          position: absolute;
          left: 0;
          top: 0;

          .link-gamify-Ago {
            left: 0;
            justify-content: center;
            letter-spacing: -0.05rem;
            color: #888888;
            position: absolute;
            top: 0;
            width: 93.3rem;
            display: flex;
            white-space: nowrap;
            height: 3.3rem;
            align-items: center;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.5;
            font-family: Inter, 'Source Sans Pro';
          }
          .games-for-brands-such-as-bananaboat-kfc-redballoon-nissan-amongst-over-9700-other-businesses-ranging-from-corporations-to-local-businesses-3Eo {
            line-height: 1.5;
            width: 92.2rem;
            height: 9.9rem;
            position: absolute;
            top: 1.65rem;
            letter-spacing: -0.05rem;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 500;
            color: #888888;
            left: 0.5409rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.2rem;
          }
        }
        .showing-that-gamify-not-only-delivers-but-that-no-job-is-too-big-or-too-small-F5y {
          display: flex;
          font-size: 2.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 500;
          letter-spacing: -0.05rem;
          color: #888888;
          position: absolute;
          top: 9.9rem;
          align-items: center;
          justify-content: center;
          height: 3.3rem;
          width: 75.6rem;
          left: 8.8625rem;
          line-height: 1.5;
        }
      }
    }
    .divframer-m5ob1h-gBH {
      margin-bottom: 0rem;
      padding: 6.9rem 29.834rem 18rem 30rem;
      width: 100%;
      overflow: hidden;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;

      .heading-1-companies-weve-partnered-with-miX {
        font-weight: 700;
        line-height: 1.2;
        color: #444444;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        font-size: 4rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.134rem 8rem 0rem;
      }
      .divframer-rti90w-eXR {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-5k75-CYw {
          box-sizing: border-box;
          padding-bottom: 6rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-dbkk-8xP {
            width: calc(100% - 0.4rem);
            height: 53.933rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.4rem 6rem 0rem;

            .auto-group-qvw7-FGK {
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 6.933rem;
              height: 100%;

              .divframer-fwlgyx-Bfm {
                width: 24.6rem;
                flex-shrink: 0;
                margin-right: 10.733rem;

                .link-3lvssumfeya9rjionyy6klkl8png-v7Z {
                  background-position: 0 1.3689rem;
                  background-image: url('REPLACE_IMAGE:e3d253cbcb6779dade991bcab04e35b7cf2922b9');
                  border-radius: 2rem;
                  margin-bottom: 2.95rem;
                  width: 20.533rem;
                  height: 20.533rem;
                  position: relative;
                  background-size: 100% 86.667%;
                }
                .divframer-19ikv6l-zNK {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .banana-boat-wHZ {
                    color: #007fee;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 3.55rem;
                    display: flex;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 1.5;
                    letter-spacing: -0.08rem;
                  }
                  .a-story-of-powerful-collaboration-and-exciting-player-reward-the-perfect-gamification-campaign-in-collaboration-with-tlc-FJF {
                    margin-bottom: 3.5rem;
                    display: flex;
                    font-size: 2rem;
                    color: #888888;
                    flex-shrink: 0;
                    max-width: 24.6rem;
                    font-weight: 500;
                    line-height: 1.4;
                    letter-spacing: -0.05rem;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .link-WV5 {
                    white-space: nowrap;
                    justify-content: center;
                    border-radius: 1rem;
                    line-height: 1.2;
                    color: #ffffff;
                    height: 4.4rem;
                    font-size: 2rem;
                    font-weight: 500;
                    font-family: DM Sans, 'Source Sans Pro';
                    align-items: center;
                    flex-shrink: 0;
                    width: 19.945rem;
                    display: flex;
                    background-color: #f7931e;
                  }
                }
              }
              .divframer-hx9r36-nhV {
                width: 28.4rem;
                flex-shrink: 0;

                .link-c2tqy5ef19inqiamvxuwzffepng-w4b {
                  border-radius: 2rem;
                  margin-bottom: 2.95rem;
                  width: 20.533rem;
                  height: 20.533rem;
                  position: relative;
                  background-size: 100% 59.961%;
                  background-position: 0 4.1106rem;
                  background-image: url('REPLACE_IMAGE:7e1d8751462546c6a9467fd888ec4355c8d8734e');
                }
                .divframer-uhat11-14T {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .kfc-9wM {
                    letter-spacing: -0.08rem;
                    white-space: nowrap;
                    margin-bottom: 2.15rem;
                    display: flex;
                    line-height: 1.5;
                    color: #007fee;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-size: 2.4rem;
                    font-weight: 700;
                  }
                  .kfc-japan-used-gamify-to-get-over-850000-plays-and-over-600-hours-playtime-to-promote-a-new-product-faster-than-ever-before-TSF {
                    font-size: 2rem;
                    letter-spacing: -0.05rem;
                    color: #888888;
                    margin-bottom: 2.1rem;
                    display: flex;
                    line-height: 1.4;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 28.4rem;
                    font-weight: 500;
                  }
                  .link-WvK {
                    color: #ffffff;
                    border-radius: 1rem;
                    font-weight: 500;
                    white-space: nowrap;
                    justify-content: center;
                    line-height: 1.2;
                    display: flex;
                    font-size: 2rem;
                    font-family: DM Sans, 'Source Sans Pro';
                    background-color: #f7931e;
                    flex-shrink: 0;
                    width: 19.945rem;
                    align-items: center;
                    height: 4.4rem;
                  }
                }
              }
            }
            .divframer-1is7wl9-QF1 {
              width: 29.1rem;
              height: 100%;
              flex-shrink: 0;

              .link-0hehgdxd9he3y5dsyizdgrcpx0png-kZm {
                width: 20.533rem;
                height: 20.533rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:d78dc6035aad155b251e30b8740be6cdf4783f85');
                border-radius: 2rem;
                margin-bottom: 2.95rem;
              }
              .divframer-1rsfpax-dtT {
                width: 100%;
                display: flex;
                flex-direction: column;

                .resmed-Pcj {
                  display: flex;
                  font-size: 2.4rem;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  white-space: nowrap;
                  margin-bottom: 0.05rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.08rem;
                  color: #007fee;
                }
                .see-how-resmeds-campaign-with-gamify-helped-them-bring-more-people-to-their-websiteto-take-their-sleep-apnea-testbuild-brand-awareness-and-educate-their-extended-audience-on-sleep-apnea-GgX {
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-weight: 500;
                  letter-spacing: -0.05rem;
                  color: #888888;
                  line-height: 1.4;
                  max-width: 29.1rem;
                  display: flex;
                  font-size: 2rem;
                }
                .link-6fZ {
                  width: 19.947rem;
                  display: flex;
                  color: #ffffff;
                  font-family: DM Sans, 'Source Sans Pro';
                  background-color: #f7931e;
                  font-weight: 500;
                  align-items: center;
                  flex-shrink: 0;
                  height: 4.4rem;
                  white-space: nowrap;
                  font-size: 2rem;
                  line-height: 1.2;
                  justify-content: center;
                  border-radius: 1rem;
                }
              }
            }
          }
          .auto-group-taph-mmh {
            height: 51.133rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: calc(100% - 0.8rem);

            .auto-group-rsyb-Vxb {
              box-sizing: border-box;
              padding-right: 6.133rem;
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .divframer-15f57oq-3DR {
                margin-right: 7.033rem;
                width: 28.3rem;
                flex-shrink: 0;

                .link-zuknefpbjaptrkhowxrfr1qe28svg-z8f {
                  width: 20.533rem;
                  height: 20.533rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 2rem;
                  margin-bottom: 2.95rem;
                }
                .divframer-1wy6j7k-HdZ {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .wendys-qQB {
                    letter-spacing: -0.08rem;
                    color: #007fee;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 1.15rem;
                    display: flex;
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 1.5;
                  }
                  .wendys-has-used-gamify-on-multiple-marketing-campaigns-to-change-buyerbehaviourand-educate-customers-on-new-products-k1M {
                    max-width: 28.3rem;
                    font-size: 2rem;
                    font-weight: 500;
                    flex-shrink: 0;
                    margin-bottom: 1.1rem;
                    display: flex;
                    line-height: 1.4;
                    letter-spacing: -0.05rem;
                    color: #888888;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .link-okK {
                    font-size: 2rem;
                    font-weight: 500;
                    color: #ffffff;
                    height: 4.4rem;
                    display: flex;
                    flex-shrink: 0;
                    font-family: DM Sans, 'Source Sans Pro';
                    align-items: center;
                    background-color: #f7931e;
                    width: 19.945rem;
                    line-height: 1.2;
                    white-space: nowrap;
                    justify-content: center;
                    border-radius: 1rem;
                  }
                }
              }
              .divframer-fcx0rw-HfV {
                width: 29.2rem;
                flex-shrink: 0;

                .link-n5yo1xwg60jk9zl2qqnraaofyfipng-qh1 {
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:17325ee5a4f77daea46edf2939a38535ea08df90');
                  border-radius: 2rem;
                  margin-bottom: 2.95rem;
                  width: 20.533rem;
                  height: 20.533rem;
                }
                .divframer-hrco9v-XZq {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .nissan-5LT {
                    color: #007fee;
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 1.5;
                    letter-spacing: -0.08rem;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 2.65rem;
                    display: flex;
                  }
                  .how-a-popular-car-brand-used-gamification-at-a-sporting-event-to-build-awareness-around-their-intelligent-mobility-technology-zTR {
                    font-weight: 500;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-size: 2rem;
                    line-height: 1.4;
                    letter-spacing: -0.05rem;
                    color: #888888;
                    margin-bottom: 2.6rem;
                    max-width: 29.2rem;
                    display: flex;
                  }
                  .link-Tbu {
                    font-size: 2rem;
                    line-height: 1.2;
                    font-family: DM Sans, 'Source Sans Pro';
                    display: flex;
                    color: #ffffff;
                    white-space: nowrap;
                    align-items: center;
                    width: 19.945rem;
                    font-weight: 500;
                    background-color: #f7931e;
                    flex-shrink: 0;
                    height: 4.4rem;
                    justify-content: center;
                    border-radius: 1rem;
                  }
                }
              }
            }
            .divframer-int1bt-YdM {
              width: 28.7rem;
              height: 100%;
              flex-shrink: 0;

              .link-0t6ezyuyn2xiv1mfsyorqd084lipng-6es {
                width: 20.533rem;
                height: 20.533rem;
                position: relative;
                background-size: 100% 99.609%;
                background-position: 0 0.0401rem;
                background-image: url('REPLACE_IMAGE:e9b08a53ef2da7652098569ae14d9f1aceaabd86');
                border-radius: 2rem;
                margin-bottom: 2.95rem;
              }
              .divframer-upsaui-N6b {
                flex-direction: column;
                width: 100%;
                display: flex;

                .red-balloon-74B {
                  line-height: 1.5;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 2.4rem;
                  letter-spacing: -0.08rem;
                  color: #007fee;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 0.05rem;
                  font-weight: 700;
                }
                .see-how-a-popular-online-brand-gained-a-better-understanding-of-their-database-through-engage-and-reward-gamification-and-some-friendly-competition-d2X {
                  display: flex;
                  line-height: 1.4;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  max-width: 28.7rem;
                  font-size: 2rem;
                  font-weight: 500;
                  letter-spacing: -0.05rem;
                  color: #888888;
                }
                .link-GLP {
                  align-items: center;
                  white-space: nowrap;
                  display: flex;
                  font-size: 2rem;
                  font-weight: 500;
                  font-family: DM Sans, 'Source Sans Pro';
                  justify-content: center;
                  flex-shrink: 0;
                  width: 19.947rem;
                  line-height: 1.2;
                  color: #ffffff;
                  height: 4.4rem;
                  border-radius: 1rem;
                  background-color: #f7931e;
                }
              }
            }
          }
        }
        .auto-group-9k23-kWT {
          height: 55.932rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .divframer-1uci7bs-u8T {
            margin-right: 6.033rem;
            width: 29.3rem;
            height: 100%;
            flex-shrink: 0;

            .link-kfeb0szznrjn6udz2twsvc2kupng-EgX {
              border-radius: 2rem;
              margin-bottom: 2.949rem;
              width: 20.533rem;
              height: 20.533rem;
              position: relative;
              background-size: 100% 71.333%;
              background-position: 0 2.9431rem;
              background-image: url('REPLACE_IMAGE:91f11bd1267335124de940fe6764f0fd2bc2d8a5');
            }
            .divframer-1fdgxt1-We3 {
              width: 100%;
              display: flex;
              flex-direction: column;

              .pita-pit-U55 {
                font-size: 2.4rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 6.65rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.08rem;
                color: #007fee;
                white-space: nowrap;
                display: flex;
              }
              .pita-pit-was-looking-to-engage-new-customers-andpromote-its-sponsorship-and-partnership-with-the-block-nz-Phq {
                margin-bottom: 6.6rem;
                max-width: 29.3rem;
                font-weight: 500;
                letter-spacing: -0.05rem;
                flex-shrink: 0;
                display: flex;
                font-size: 2rem;
                line-height: 1.4;
                color: #888888;
                font-family: Inter, 'Source Sans Pro';
              }
              .link-43H {
                border-radius: 1rem;
                width: 19.945rem;
                line-height: 1.2;
                white-space: nowrap;
                background-color: #f7931e;
                display: flex;
                font-weight: 500;
                flex-shrink: 0;
                height: 4.4rem;
                font-size: 2rem;
                color: #ffffff;
                font-family: DM Sans, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
              }
            }
          }
          .divframer-1tn0v5k-9aX {
            height: 100%;
            flex-shrink: 0;
            margin-right: 6.233rem;
            width: 29.1rem;

            .link-wungo526ng2bqokqcf08hrsraxajpg-V8b {
              background-position: 0.3152rem 0;
              background-image: url('REPLACE_IMAGE:c2e3603b9dba360d81aa82aa085d3c1ebb110170');
              border-radius: 2rem;
              margin-bottom: 2.949rem;
              width: 20.533rem;
              height: 20.533rem;
              position: relative;
              background-size: 96.93% 100%;
            }
            .divframer-ex505a-AVd {
              width: 100%;
              display: flex;
              flex-direction: column;

              .auto-group-f82b-vDu {
                width: 100%;
                height: 25.65rem;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 2.4rem;

                .v-energy-rNT {
                  width: 10rem;
                  left: 0;
                  top: 0;
                  font-size: 2.4rem;
                  font-family: Inter, 'Source Sans Pro';
                  color: #007fee;
                  white-space: nowrap;
                  height: 3.6rem;
                  position: absolute;
                  display: flex;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.08rem;
                }
                .see-how-the-popular-energy-drink-brand-v-was-looking-to-engage-customers-and-promote-their-latest-energy-drink-product-along-with-their-other-objective-to-capture-user-data-for-future-marketing-campaigns-Ma7 {
                  height: 22.4rem;
                  position: absolute;
                  left: 0;
                  top: 3.25rem;
                  font-size: 2rem;
                  color: #888888;
                  width: 29.1rem;
                  font-weight: 500;
                  line-height: 1.4;
                  letter-spacing: -0.05rem;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                }
              }
              .link-YuV {
                font-family: DM Sans, 'Source Sans Pro';
                font-weight: 500;
                color: #ffffff;
                background-color: #f7931e;
                border-radius: 1rem;
                width: 19.945rem;
                font-size: 2rem;
                line-height: 1.2;
                justify-content: center;
                flex-shrink: 0;
                height: 4.4rem;
                white-space: nowrap;
                align-items: center;
                display: flex;
              }
            }
          }
          .divframer-g93rsn-SEB {
            width: 29.5rem;
            height: 100%;
            flex-shrink: 0;

            .link-5ycouf14gh3wc2mnjd7rcpzniwebp-arB {
              height: 20.533rem;
              position: relative;
              background-size: 100% 58.73%;
              background-position: 0 4.237rem;
              background-image: url('REPLACE_IMAGE:d025520b0aa617cf23082833dfcce40056848532');
              border-radius: 2rem;
              margin-bottom: 2.949rem;
              width: 20.533rem;
            }
            .divframer-1s6dmw0-4WT {
              width: 100%;
              display: flex;
              flex-direction: column;

              .donut-papi-oyq {
                display: flex;
                font-size: 2.4rem;
                font-weight: 700;
                color: #007fee;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 5.25rem;
                line-height: 1.5;
                letter-spacing: -0.08rem;
                white-space: nowrap;
              }
              .how-a-small-donut-shop-in-sydney-australia-used-gamification-to-increase-organic-social-shares-and-their-email-database-by-581-w4T {
                letter-spacing: -0.05rem;
                flex-shrink: 0;
                margin-bottom: 5.2rem;
                max-width: 29.5rem;
                display: flex;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.4;
                color: #888888;
                font-family: Inter, 'Source Sans Pro';
              }
              .link-BzP {
                font-family: DM Sans, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                display: flex;
                color: #ffffff;
                background-color: #f7931e;
                flex-shrink: 0;
                font-size: 2rem;
                white-space: nowrap;
                line-height: 1.2;
                width: 19.947rem;
                height: 4.4rem;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .footer-TS7 {
      width: 100%;
      height: 40.7rem;
      position: relative;
      background-color: #ee2a00;
      flex-shrink: 0;

      .divframer-1yzb8x0-QcF {
        height: 19.9rem;
        position: absolute;
        left: 31rem;
        top: 6rem;
        display: flex;
        align-items: center;
        width: 93.8rem;

        .auto-group-mrqk-jPd {
          box-sizing: border-box;
          padding-right: 11.6rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .divframer-hlr9m1-4go {
            margin-right: 13.3rem;
            width: 10.4rem;
            flex-shrink: 0;

            .product-QVm {
              display: flex;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.5rem;
            }
            .divframer-pdb21q-8gf {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-cukv-HpT {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 1rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .link-game-library-Ejh {
                  display: flex;
                  font-size: 1.6rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                }
                .link-help-centre-MZR {
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
              .link-make-a-game-5kK {
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
          }
          .divframer-1ndkbvi-ah5 {
            margin-right: 8.6rem;
            width: 15.6rem;
            flex-shrink: 0;

            .learn-Jsy {
              display: flex;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.5rem;
            }
            .divframer-z78be-Emd {
              width: 100%;
              display: flex;
              flex-direction: column;

              .link-video-resources-aqV {
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                display: flex;
                font-size: 1.6rem;
              }
              .link-what-is-gamification-VxT {
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
              }
              .auto-group-iigw-RbD {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 1rem;
                width: 100%;

                .link-case-studies-mf5 {
                  color: #ffffff;
                  white-space: nowrap;
                  font-weight: 400;
                  line-height: 1.5;
                  font-size: 1.6rem;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 1rem;
                  display: flex;
                }
                .link-blog-gX9 {
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
            }
          }
          .divframer-o0uilp-c9u {
            width: 9.1rem;
            flex-shrink: 0;

            .support-m2o {
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.5rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 600;
            }
            .divframer-1e0nvuu-JHd {
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 100%;

              .auto-group-g8bz-TRR {
                box-sizing: border-box;
                padding-bottom: 1rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .link-about-us-1Sw {
                  margin-bottom: 1rem;
                  display: flex;
                  font-size: 1.6rem;
                  white-space: nowrap;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .link-contact-us-vZu {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                }
              }
              .link-help-centre-Fs5 {
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
        .divframer-faa0jr-PiP {
          flex-shrink: 0;
          width: 25.2rem;
          height: 100%;

          .top-articles-M9R {
            line-height: 1.5;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.5rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .divframer-19aelvq-VWX {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-cs8p-ePR {
              box-sizing: border-box;
              padding-bottom: 1rem;
              width: 100%;
              row-gap: 1rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .link-advergaming-aXy {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
              .link-gamification-marketing-uaF {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
              .link-game-marketing-SKH {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
              .link-gamification-Am5 {
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .link-successful-marketing-campaigns-Wa3 {
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
            }
          }
        }
      }
      .divframer-iitih6-Ekw {
        position: absolute;
        left: 31rem;
        top: 31.9rem;
        width: 100rem;
        height: 5.8rem;

        .gamify-all-rights-reserved-privacy-policy-xgw {
          height: 1.6rem;
          position: absolute;
          top: 3.4409rem;
          display: flex;
          font-size: 1.3rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 35.9rem;
          left: 0;
          font-weight: 400;
          line-height: 1.2000000293;
          color: #ffffff;
        }
        .divframer-uvzujr-container-rGX {
          box-sizing: border-box;
          padding: 0.233rem 0.18rem 0.233rem 0.35rem;
          height: 2.8rem;
          position: absolute;
          width: 25.6rem;
          left: 74.4rem;
          top: 3rem;
          display: flex;
          align-items: center;

          .link-svg-KR1 {
            margin: 0rem 1.53rem 0rem 0rem;
            width: 2.1rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .link-svg-Ens {
            margin: 0.116rem 1.413rem 0rem 0rem;
            width: 2.4407rem;
            height: 1.9833rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .link-svg-9Q3 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.5833rem;
            width: 2.3333rem;
            height: 2.3333rem;
          }
          .link-svg-Ux7 {
            margin: 0rem 1.583rem 0rem 0rem;
            width: 2.1rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .link-svg-ojV {
            height: 2.3333rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.4667rem;
            width: 2.3333rem;
          }
          .link-svg-wao {
            margin-right: 1.413rem;
            width: 2.3333rem;
            height: 2.3333rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .link-svg-szF {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.1164rem;
            width: 2.4407rem;
            height: 1.9833rem;
          }
        }
        .after-cS3 {
          top: 0;
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          width: 100rem;
          height: 5.8rem;
          position: absolute;
          left: 0;
        }
      }
      .after-KrF {
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem rgba(0, 0, 0, 0.0500000007);
        box-sizing: border-box;
        width: 160rem;
        height: 40.7rem;
      }
    }
  }
}
