
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 270.1rem;
}.desktop-1-iYo {
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 12.2rem;
  width: 100%;
  height: 292.7rem;
  overflow: hidden;
  position: relative;

  .dashboard-Szb {
    padding: 0rem 0rem 15.6rem 20.1rem;
    height: 296.1rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 278.2rem;
    position: relative;

    .divframer-m7zs3h-kEb {
      flex-shrink: 0;
      margin: 0rem 42.6rem 0rem 39rem;
      width: calc(100% - 81.6rem);
      height: 8rem;
      position: relative;
      overflow: hidden;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.0860000029), 0 0.2289rem 0.2289rem rgba(0, 0, 0, 0.1449999958), 0 0.0602rem 0.0602rem rgba(0, 0, 0, 0.1570000052);
      background-color: #ffffff;

      .pframer-text-3jV {
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        color: #007fee;
        display: flex;
        font-weight: 700;
        left: 81.119rem;
        font-size: 1.4rem;
        line-height: 1.5999999728;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        width: 26.333rem;
        height: 2.4089rem;
        cursor: pointer;
        top: 2.71rem;
      }
      .pframer-text-i4w {
        cursor: pointer;
        top: 2.71rem;
        font-weight: 700;
        color: #007fee;
        white-space: nowrap;
        width: 21.713rem;
        height: 2.4089rem;
        line-height: 1.5999999728;
        letter-spacing: 0.056rem;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        left: 94.252rem;
        font-size: 1.4rem;
        display: flex;
      }
      .pframer-text-BDR {
        width: 26.211rem;
        height: 2.4089rem;
        display: flex;
        font-weight: 700;
        letter-spacing: 0.056rem;
        font-family: Inter, 'Source Sans Pro';
        cursor: pointer;
        left: 102.764rem;
        line-height: 1.5999999728;
        position: absolute;
        top: 2.71rem;
        font-size: 1.4rem;
        color: #007fee;
        white-space: nowrap;
      }
      .pframer-text-TRq {
        font-size: 1.4rem;
        letter-spacing: 0.056rem;
        color: #2996f5;
        width: 31.863rem;
        cursor: pointer;
        position: absolute;
        top: 2.71rem;
        font-family: Inter, 'Source Sans Pro';
        height: 2.4089rem;
        left: 115.775rem;
        display: flex;
        font-weight: 700;
        line-height: 1.5999999728;
        white-space: nowrap;
      }
      .pframer-text-x7h {
        top: 2.71rem;
        display: flex;
        font-size: 1.4rem;
        white-space: nowrap;
        height: 2.4089rem;
        width: 19.777rem;
        position: absolute;
        line-height: 1.5999999728;
        cursor: pointer;
        left: 134.438rem;
        font-weight: 700;
        letter-spacing: 0.056rem;
        color: #007fee;
        font-family: Inter, 'Source Sans Pro';
      }
      .link-DpK {
        left: 149.314rem;
        top: 2rem;
        align-items: center;
        font-weight: 600;
        line-height: 1.1999999455;
        background-color: #f7931e;
        position: absolute;
        justify-content: center;
        width: 13.986rem;
        cursor: pointer;
        display: flex;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        height: 4rem;
        overflow: hidden;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.0500000007), 0 1.3647rem 1.3647rem rgba(0, 0, 0, 0.1059999987), 0 0.6866rem 0.6866rem rgba(0, 0, 0, 0.125), 0 0.3622rem 0.3622rem rgba(0, 0, 0, 0.1369999945), 0 0.1807rem 0.1807rem rgba(0, 0, 0, 0.1449999958), 0 0.0707rem 0.0707rem rgba(0, 0, 0, 0.150000006);
      }
      .after-M3M {
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
        box-sizing: border-box;
        width: 176.5rem;
      }
    }
    .divframer-igcazs-bCb {
      display: flex;
      background-color: #ee2a00;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 13rem 8rem 12.992rem 8rem;
      height: 70.5rem;
      overflow: hidden;
      margin-bottom: 0.008rem;
      width: 100%;
      position: relative;
      align-items: center;

      .divframer-l98v05-gE3 {
        padding-bottom: 0.0001rem;
        width: 41rem;
        height: calc(100% - 19.83rem);
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 9.914rem 23.8rem 9.916rem 0rem;
        box-sizing: border-box;

        .what-is-gamification-yD9 {
          letter-spacing: -0.2rem;
          font-family: Inter, 'Source Sans Pro';
          max-width: 34.2rem;
          font-weight: 700;
          line-height: 1.2000000565;
          color: #ffffff;
          margin-bottom: 1.5331rem;
          display: flex;
          font-size: 5.4rem;
        }
        .gamification-with-dr-zachary-fitz-walter-4Eb {
          line-height: 1.2000000363;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.3689rem;
          display: flex;
          font-size: 2.1rem;
          font-weight: 400;
        }
        .divframer-18fus0l-NWB {
          width: 25.42rem;
          height: 4.4rem;
          overflow: hidden;
          position: relative;

          .link-iK9 {
            font-weight: 500;
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            background-color: #f7931e;
            width: 100%;
            font-size: 2rem;
            line-height: 1.2;
            justify-content: center;
            border-radius: 0.5rem;
            height: 100%;
            display: flex;
          }
        }
      }
      .article-1Z9 {
        flex-shrink: 0;
        width: 177.3rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 1rem;
      }
    }
    .auto-group-uba7-whh {
      width: 270.9rem;
      height: 201.992rem;
      position: relative;
      flex-shrink: 0;

      .divframer-1vpc604-gQP {
        padding: 7.95rem 21.74rem 8.05rem 21.76rem;
        position: absolute;
        left: 38.8rem;
        box-sizing: border-box;
        width: 160rem;
        height: 25.6rem;
        top: 0;
        overflow: hidden;
        background-color: #ffffff;

        .heading-1-gamification-is-the-addition-of-game-elements-to-non-game-zAB {
          line-height: 1.2;
          color: #007fee;
          justify-content: center;
          font-size: 4rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          max-width: 116.5rem;
          display: flex;
          align-items: center;
        }
      }
      .divframer-1fl2dl4-FM1 {
        box-sizing: border-box;
        padding: 6.7rem 55.4rem 14.3rem 55.5rem;
        height: 176.4rem;
        left: 0;
        top: 25.592rem;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        width: 270.9rem;
        position: absolute;
        display: flex;
        background-color: #ffffff;

        .divframer-hpmuq9-M99 {
          margin: 0rem 42.4rem 27.9rem 0rem;
          width: 100rem;
          flex-shrink: 0;

          .whats-interesting-is-that-gamification-is-not-a-new-concept-while-the-term-may-have-been-coined-in-more-recent-times-the-concept-has-existed-in-many-areas-of-life-for-as-long-as-civilisation-has-existed-if-you-remember-watching-mary-poppins-she-sums-up-gamification-quite-nicely-with-the-quote-in-every-job-that-must-be-done-there-is-an-element-of-fun-you-find-the-fun-and-snap-the-jobs-a-game-559 {
            font-size: 2rem;
            line-height: 1.4;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.4rem;
            max-width: 96.4rem;
            display: flex;
            font-weight: 500;
            letter-spacing: -0.05rem;
            color: #888888;

            .whats-interesting-is-that-gamification-is-not-a-new-concept-while-the-term-may-have-been-coined-in-more-recent-times-the-concept-has-existed-in-many-areas-of-life-for-as-long-as-civilisation-has-existed-if-you-remember-watching-mary-poppins-she-sums-up-gamification-quite-nicely-with-the-quote-in-every-job-that-must-be-done-there-is-an-element-of-fun-you-find-the-fun-and-snap-the-jobs-a-game-559-sub-0 {
            }
            .whats-interesting-is-that-gamification-is-not-a-new-concept-while-the-term-may-have-been-coined-in-more-recent-times-the-concept-has-existed-in-many-areas-of-life-for-as-long-as-civilisation-has-existed-if-you-remember-watching-mary-poppins-she-sums-up-gamification-quite-nicely-with-the-quote-in-every-job-that-must-be-done-there-is-an-element-of-fun-you-find-the-fun-and-snap-the-jobs-a-game-559-sub-1 {
              font-weight: 500;
              line-height: 1.4;
              letter-spacing: -0.05rem;
              font-style: italic;
              color: #888888;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
            }
            .whats-interesting-is-that-gamification-is-not-a-new-concept-while-the-term-may-have-been-coined-in-more-recent-times-the-concept-has-existed-in-many-areas-of-life-for-as-long-as-civilisation-has-existed-if-you-remember-watching-mary-poppins-she-sums-up-gamification-quite-nicely-with-the-quote-in-every-job-that-must-be-done-there-is-an-element-of-fun-you-find-the-fun-and-snap-the-jobs-a-game-559-sub-2 {
            }
          }
          .she-was-onto-something-here-mary-poppins-knew-all-the-way-back-in-the-1960s-that-anything-could-be-turned-into-a-fun-activity-by-making-it-into-a-game-there-were-prominent-examples-of-gamification-existing-even-earlier-than-mary-poppins-however-LBR {
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: -0.05rem;
            color: #888888;
            font-family: Inter, 'Source Sans Pro';
            max-width: 100rem;
          }
          .auto-group-tcek-m1q {
            width: 100%;
            display: flex;
            flex-direction: column;

            .back-in-the-early-1900s-if-you-were-a-boy-scout-you-could-obtain-real-badges-and-ranks-a-tradition-that-is-still-carried-out-today-however-as-video-games-started-to-take-off-we-saw-educational-video-games-then-become-popular-in-the-1970s-and-80s-you-may-remember-such-games-as-where-in-the-world-is-carmen-san-diego-reader-rabbit-and-math-blaster-these-games-were-forms-of-entertainment-that-were-built-for-serious-purposes-to-educate-players-uNw {
              line-height: 1.4;
              color: #888888;
              font-size: 2rem;
              font-weight: 500;
              letter-spacing: -0.05rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 99.7rem;
              display: flex;
            }
            .link-foursquare-cgf {
              display: flex;
              line-height: 1.4;
              font-family: Inter, 'Source Sans Pro';
              margin-bottom: 1.4rem;
              max-width: 98.8rem;
              font-size: 2rem;
              font-weight: 500;
              letter-spacing: -0.05rem;
              color: #888888;
              flex-shrink: 0;
            }
            .if-you-checked-into-a-place-more-than-anyone-else-you-became-the-foursquare-mayor-of-that-location-this-user-experience-felt-like-a-game-and-it-was-a-lot-of-fun-to-use-foursquare-became-a-popular-example-of-an-app-increasing-user-engagement-through-loyalty-program-gamification-Wn3 {
              color: #888888;
              font-family: Inter, 'Source Sans Pro';
              max-width: 98.9rem;
              font-size: 2rem;
              line-height: 1.4;
              letter-spacing: -0.05rem;
              margin-bottom: 1.4rem;
              display: flex;
              font-weight: 500;
              flex-shrink: 0;

              .if-you-checked-into-a-place-more-than-anyone-else-you-became-the-foursquare-mayor-of-that-location-this-user-experience-felt-like-a-game-and-it-was-a-lot-of-fun-to-use-foursquare-became-a-popular-example-of-an-app-increasing-user-engagement-through-loyalty-program-gamification-Wn3-sub-0 {
              }
              .if-you-checked-into-a-place-more-than-anyone-else-you-became-the-foursquare-mayor-of-that-location-this-user-experience-felt-like-a-game-and-it-was-a-lot-of-fun-to-use-foursquare-became-a-popular-example-of-an-app-increasing-user-engagement-through-loyalty-program-gamification-Wn3-sub-1 {
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.4;
                letter-spacing: -0.05rem;
                font-style: italic;
                color: #888888;
                font-family: Inter, 'Source Sans Pro';
              }
              .if-you-checked-into-a-place-more-than-anyone-else-you-became-the-foursquare-mayor-of-that-location-this-user-experience-felt-like-a-game-and-it-was-a-lot-of-fun-to-use-foursquare-became-a-popular-example-of-an-app-increasing-user-engagement-through-loyalty-program-gamification-Wn3-sub-2 {
              }
            }
            .whats-interesting-though-was-that-the-game-elements-they-used-started-to-appear-in-many-different-other-applications-and-websites-this-may-have-contributed-to-these-game-elements-becoming-a-popular-way-to-add-gamification-qrF {
              color: #888888;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 1.4rem;
              max-width: 97.6rem;
              display: flex;
              line-height: 1.4;
              font-size: 2rem;
              font-weight: 500;
              letter-spacing: -0.05rem;
            }
            .these-days-were-seeing-more-and-more-serious-games-in-gamification-partly-because-video-games-have-become-mainstream-and-as-well-smartphones-have-made-it-incredibly-easy-to-play-games-anywhere-at-any-time-UPR {
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              max-width: 98.2rem;
              letter-spacing: -0.05rem;
              color: #888888;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              line-height: 1.4;
            }
          }
        }
        .footer-hmy {
          background-color: #ee2a00;
          flex-shrink: 0;
          width: 100%;
          height: 40.7rem;
          position: relative;

          .divframer-1yzb8x0-TFM {
            display: flex;
            align-items: center;
            width: 93.8rem;
            height: 19.9rem;
            position: absolute;
            left: 31rem;
            top: 6rem;

            .auto-group-teqd-yUb {
              box-sizing: border-box;
              padding-right: 11.6rem;
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .divframer-hlr9m1-K2f {
                flex-shrink: 0;
                margin-right: 13.3rem;
                width: 10.4rem;

                .product-T8s {
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.5rem;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.5;
                }
                .divframer-pdb21q-ysu {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  align-items: center;

                  .auto-group-ntum-YAK {
                    box-sizing: border-box;
                    padding-bottom: 1rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .link-game-library-5AF {
                      display: flex;
                      color: #ffffff;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      margin-bottom: 1rem;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      flex-shrink: 0;
                    }
                    .link-help-centre-b8b {
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #ffffff;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                  .link-make-a-game-hhR {
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                  }
                }
              }
              .divframer-1ndkbvi-q2w {
                margin-right: 8.6rem;
                width: 15.6rem;
                flex-shrink: 0;

                .learn-ZzX {
                  font-weight: 600;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.5rem;
                  display: flex;
                  font-size: 1.6rem;
                }
                .divframer-z78be-6zT {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .link-video-resources-Ta7 {
                    margin-bottom: 1rem;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .link-what-is-gamification-BW7 {
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .auto-group-kvwv-iF9 {
                    box-sizing: border-box;
                    padding-top: 1rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .link-case-studies-G1m {
                      display: flex;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #ffffff;
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 1rem;
                      font-size: 1.6rem;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .link-blog-BeX {
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #ffffff;
                      font-family: Inter, 'Source Sans Pro';
                    }
                  }
                }
              }
              .divframer-o0uilp-6Wb {
                width: 9.1rem;
                flex-shrink: 0;

                .support-F8b {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.5rem;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #ffffff;
                }
                .divframer-1e0nvuu-Nyu {
                  width: 100%;
                  align-items: center;
                  display: flex;
                  flex-direction: column;

                  .auto-group-1jl3-8TH {
                    box-sizing: border-box;
                    padding-bottom: 1rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .link-about-us-U1M {
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      margin-bottom: 1rem;
                      color: #ffffff;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                    }
                    .link-contact-us-BgT {
                      color: #ffffff;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                    }
                  }
                  .link-help-centre-v8F {
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                }
              }
            }
            .divframer-faa0jr-eK9 {
              width: 25.2rem;
              height: 100%;
              flex-shrink: 0;

              .top-articles-zto {
                margin-bottom: 1.5rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .divframer-19aelvq-LBy {
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;

                .auto-group-v1ap-VKm {
                  row-gap: 1rem;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding-bottom: 1rem;
                  width: 100%;

                  .link-advergaming-EHM {
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                  }
                  .link-gamification-marketing-mo5 {
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                  }
                  .link-game-marketing-WEs {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                  }
                  .link-gamification-qH9 {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                  }
                }
                .link-successful-marketing-campaigns-y8T {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                }
              }
            }
          }
          .divframer-iitih6-h4T {
            position: absolute;
            left: 31rem;
            top: 31.9rem;
            width: 100rem;
            height: 5.8rem;

            .gamify-all-rights-reserved-privacy-policy-cx7 {
              position: absolute;
              font-size: 1.3rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.6rem;
              left: 0;
              top: 3.44rem;
              display: flex;
              font-weight: 400;
              line-height: 1.2000000293;
              color: #ffffff;
              width: 35.9rem;
            }
            .divframer-uvzujr-container-Ja3 {
              width: 25.6rem;
              height: 2.8rem;
              position: absolute;
              left: 74.4rem;
              top: 3rem;
              display: flex;
              align-items: center;
              box-sizing: border-box;
              padding: 0.233rem 0.18rem 0.233rem 0.35rem;

              .link-svg-a1m {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.53rem 0rem 0rem;
                width: 2.1rem;
                height: 2.1rem;
                object-fit: contain;
              }
              .link-svg-gKh {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.116rem 1.413rem 0rem 0rem;
                width: 2.4407rem;
                height: 1.9833rem;
                object-fit: contain;
              }
              .link-svg-o9R {
                height: 2.3333rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.5834rem;
                width: 2.3333rem;
              }
              .link-svg-wFd {
                margin: 0rem 1.583rem 0rem 0rem;
                width: 2.1rem;
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .link-svg-rNb {
                height: 2.3333rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.4667rem;
                width: 2.3333rem;
              }
              .link-svg-yi7 {
                width: 2.3333rem;
                height: 2.3333rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.4131rem;
              }
              .link-svg-ivb {
                margin-top: 0.1164rem;
                width: 2.4407rem;
                height: 1.9833rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .after-T7V {
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              width: 100rem;
              height: 5.8rem;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          .after-y5q {
            width: 160rem;
            height: 40.7rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem rgba(0, 0, 0, 0.0500000007);
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
