
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 250.6rem;
}.desktop-3-7Us {
  padding: 31.1rem 0rem 11.8rem 0rem;
  width: 100%;
  height: 589.9rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;

  .game-library--N9u {
    flex-direction: column;
    background-color: #ffffff;
    padding: 0 16.9rem;
    position: relative;
    align-items: center;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    width: 225.8rem;
    height: 100%;

    .divframer-m7zs3h-TBM {
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0 16rem;
      width: calc(100% - 32rem);
      height: 8rem;
      position: relative;
      overflow: hidden;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.0860000029), 0 0.2289rem 0.2289rem rgba(0, 0, 0, 0.1449999958), 0 0.0602rem 0.0602rem rgba(0, 0, 0, 0.1570000052);

      .pframer-text-N3R {
        top: 2.71rem;
        letter-spacing: 0.056rem;
        height: 2.4089rem;
        position: absolute;
        display: flex;
        white-space: nowrap;
        width: 9.9rem;
        left: 81.119rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        cursor: pointer;
        font-size: 1.4rem;
        line-height: 1.5999999728;
        color: #007fee;
      }
      .pframer-text-nN3 {
        font-family: Inter, 'Source Sans Pro';
        top: 2.71rem;
        font-size: 1.4rem;
        color: #007fee;
        height: 2.4089rem;
        display: flex;
        line-height: 1.5999999728;
        cursor: pointer;
        letter-spacing: 0.056rem;
        font-weight: 700;
        white-space: nowrap;
        width: 5.3rem;
        position: absolute;
        left: 94.252rem;
      }
      .pframer-text-r71 {
        white-space: nowrap;
        position: absolute;
        font-weight: 700;
        line-height: 1.5999999728;
        cursor: pointer;
        font-size: 1.4rem;
        letter-spacing: 0.056rem;
        color: #007fee;
        font-family: Inter, 'Source Sans Pro';
        height: 2.4089rem;
        left: 102.764rem;
        top: 2.71rem;
        width: 9.8rem;
        display: flex;
      }
      .pframer-text-vsZ {
        width: 15.4rem;
        cursor: pointer;
        font-size: 1.4rem;
        white-space: nowrap;
        left: 115.775rem;
        top: 2.71rem;
        font-weight: 700;
        line-height: 1.5999999728;
        letter-spacing: 0.056rem;
        color: #2996f5;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        height: 2.4089rem;
        display: flex;
      }
      .pframer-text-R3d {
        top: 1.9rem;
        display: flex;
        align-items: center;
        width: 23.548rem;
        height: 4rem;
        cursor: pointer;
        position: absolute;
        left: 134.438rem;

        .link-blog-7h9 {
          letter-spacing: 0.056rem;
          color: #007fee;
          white-space: nowrap;
          margin: 0rem 6.262rem 0.08rem 0rem;
          display: flex;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.5999999728;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .link-zW3 {
          width: 13.986rem;
          height: 100%;
          overflow: hidden;
          display: flex;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          background-color: #f7931e;
          position: relative;
          align-items: center;
          line-height: 1.1999999455;
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.0500000007), 0 1.3647rem 1.3647rem rgba(0, 0, 0, 0.1059999987), 0 0.6866rem 0.6866rem rgba(0, 0, 0, 0.125), 0 0.3622rem 0.3622rem rgba(0, 0, 0, 0.1369999945), 0 0.1807rem 0.1807rem rgba(0, 0, 0, 0.1449999958), 0 0.0707rem 0.0707rem rgba(0, 0, 0, 0.150000006);
          white-space: nowrap;
          border-radius: 0.5rem;
          flex-shrink: 0;
          justify-content: center;
          font-size: 1.4rem;
          color: #000000;
        }
      }
      .after-XPV {
        width: 160rem;
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
        box-sizing: border-box;
      }
    }
    .divframer-mpb622-NQ7 {
      margin: 0 16rem;
      box-sizing: border-box;
      padding: 23.75rem 8rem;
      width: calc(100% - 32rem);
      height: 60rem;
      overflow: hidden;
      flex-shrink: 0;
      position: relative;
      background-color: #ee2a00;

      .divframer-h61q7y-65D {
        width: 38.5rem;
        height: 100%;
        overflow: hidden;
        position: relative;

        .game-library-pmu {
          display: flex;
          font-size: 5.4rem;
          color: #ffffff;
          white-space: nowrap;
          margin-bottom: 1.5296rem;
          font-weight: 700;
          line-height: 1.2000000565;
          letter-spacing: -0.2rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .video-games-we-can-create-for-you-take-them-for-a-test-drive-6zK {
          font-weight: 400;
          line-height: 1.2000000363;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          max-width: 37.4rem;
          display: flex;
          font-size: 2.1rem;
        }
      }
    }
    .divframer-s91sgr-bAP {
      position: relative;
      overflow: hidden;
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0 16rem;
      width: calc(100% - 32rem);
      height: 19.8rem;

      .divframer-1sd8m8d-uwm {
        align-items: center;
        width: 87.5rem;
        height: 10.7rem;
        position: absolute;
        left: 36.25rem;
        top: 4.55rem;
        display: flex;

        .auto-group-k7pm-2mV {
          column-gap: 4.9rem;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.95rem 4.9rem 1.95rem 0rem;
          height: 100%;
          display: flex;

          .mfobkmcpd5ndurqetlpdlwqieupng-kBh {
            position: relative;
            background-size: 82.035% 100%;
            background-position: 0.9072rem 0;
            background-image: url('REPLACE_IMAGE:de1a2bd473e099e5b982b36244d15774a2cab877');
            flex-shrink: 0;
            margin-bottom: 0.0009rem;
            width: 10.1rem;
            height: 5.405rem;
          }
          .c2tqy5ef19inqiamvxuwzffepng-DUb {
            background-image: url('REPLACE_IMAGE:7e1d8751462546c6a9467fd888ec4355c8d8734e');
            flex-shrink: 0;
            width: 13rem;
            height: 6.8rem;
            position: relative;
            background-size: 87.236% 100%;
            background-position: 0.8296rem 0;
          }
          .lvssumfeya9rjionyy6klkl8png-WCo {
            flex-shrink: 0;
            width: 9.5rem;
            height: 6.8rem;
            position: relative;
            background-size: 82.591% 100%;
            background-image: url('REPLACE_IMAGE:e3d253cbcb6779dade991bcab04e35b7cf2922b9');
          }
        }
        .n5yo1xwg60jk9zl2qqnraaofyfipng-bk3 {
          width: 11.2rem;
          height: 10.7rem;
          position: relative;
          background-size: 95.536% 100%;
          background-position: 0.25rem 0;
          background-image: url('REPLACE_IMAGE:17325ee5a4f77daea46edf2939a38535ea08df90');
          flex-shrink: 0;
        }
        .auto-group-xr99-tUF {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 0rem 1.4rem 4.9rem;

          .ss3zu7mqaynnkxcdmyillmpng-By9 {
            position: relative;
            background-size: 77.451% 100%;
            background-image: url('REPLACE_IMAGE:f5faf6ffe93f10a4b02a82d9d56f0381fb2c9a73');
            flex-shrink: 0;
            margin-right: 4.9rem;
            width: 10.2rem;
            height: 7.9rem;
          }
          .t9xgbanqfarboyxpbrlapoj34b4png-FTD {
            position: relative;
            background-size: 100% 32.709%;
            background-image: url('REPLACE_IMAGE:114fbae4f442a6efcd02a3e5a8e4099fd8ec4e0c');
            flex-shrink: 0;
            width: 9rem;
            height: 7.9rem;
          }
        }
      }
      .after-hq1 {
        height: 19.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #9ca8b7;
        box-sizing: border-box;
        width: 160rem;
      }
    }
    .divframer-1uvazth-Phq {
      box-sizing: border-box;
      padding: 7.45rem 31.781rem 6.15rem 31.819rem;
      width: calc(100% - 32rem);
      height: 30.1rem;
      overflow: hidden;
      background-color: #ffffff;
      margin: 0 16rem;
      position: relative;
      flex-shrink: 0;

      .divframer-1vwwlkv-f9Z {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .do-you-have-an-upcoming-campaign-that-could-be-enhanced-through-gamification-bJ7 {
          justify-content: center;
          font-weight: 500;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 3.3rem 0.03rem;
          display: flex;
          letter-spacing: -0.05rem;
          color: #888888;
          align-items: baseline;
          font-size: 2.2rem;

          .do-you-have-an-upcoming-campaign-that-could-be-enhanced-through-gamification-bJ7-sub-0 {
          }
          .do-you-have-an-upcoming-campaign-that-could-be-enhanced-through-gamification-bJ7-sub-1 {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: -0.05rem;
            color: #007fee;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .heading-2-swm {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .read-up-on-the-history-of-our-game-templates-by-our-awesome-team-and-their-proven-target-23y {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            letter-spacing: -0.05rem;
            color: #888888;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.0009rem;
            font-size: 2.2rem;
            line-height: 1.5;
            flex-shrink: 0;
          }
          .markets-demographics-along-with-playing-any-of-the-available-games-in-the-library-in-order-to-6pX {
            font-weight: 500;
            letter-spacing: -0.05rem;
            color: #888888;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.2rem;
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .help-you-gain-an-understanding-of-which-game-would-work-best-for-your-next-marketing-push-BLB {
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 2.2rem;
            font-weight: 500;
            color: #888888;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 0.0158rem;
            display: flex;
            line-height: 1.5;
            letter-spacing: -0.05rem;
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-bwfy-q9q {
      width: 100%;
      height: 432.109rem;
      position: relative;
      flex-shrink: 0;

      .divframer-19qzex3-mJP {
        position: absolute;
        left: 0;
        overflow: hidden;
        background-color: #ffffff;
        padding: 10rem 46rem 10.05rem 46rem;
        width: 192rem;
        top: 0;
        box-sizing: border-box;
        height: 391.409rem;

        .divframer-luhli5-gAT {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-vnsh-zgw {
            width: 100%;
            height: 35.884rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 6.05rem;

            .auto-group-544x-KUK {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 6rem;

              .divframer-9b3au7-3v7 {
                height: calc(100% - 0.001rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0rem 6rem 0.001rem 0rem;

                .d7fyhepl6wxd2anykgpf3pojmqijpg-NBh {
                  background-image: url('REPLACE_IMAGE:b2614492b1af3c99e89321b88cf94da6eea26e12');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                  background-size: 100% 100%;
                }
                .ginger-ninja-FFV {
                  display: flex;
                  font-weight: 700;
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.4rem;
                  line-height: 1.5;
                  letter-spacing: -0.08rem;
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .divframer-yynipg-jwM {
                margin-bottom: 0.001rem;
                height: calc(100% - 0.001rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .hgzwueaowce3n7lwixql0ammoujpg-gLo {
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:ba777e665238ab60deee267f6cd55bc8a6db7c30');
                  border-radius: 2rem;
                }
                .letters-y51 {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 700;
                  line-height: 1.5;
                  color: #333333;
                  font-size: 2.4rem;
                  letter-spacing: -0.08rem;
                }
              }
            }
            .divframer-7s8scg-HrP {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .m2nl8mij9gidmj2jghiz1v8kmjpg-dvF {
                flex-shrink: 0;
                margin-bottom: 2.95rem;
                width: 29.334rem;
                height: 29.334rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:710e890246a8a7073b661fc6a10d377a76fe9dd3');
                border-radius: 2rem;
              }
              .bowl-o-rama-iRu {
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 700;
                white-space: nowrap;
                color: #333333;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                line-height: 1.5;
                letter-spacing: -0.08rem;
              }
            }
          }
          .auto-group-8qnb-qFd {
            height: 35.885rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 6.05rem;
            width: 100%;

            .auto-group-pudz-ktP {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 6rem;

              .divframer-fp01cc-6xF {
                margin: 0rem 6rem 0.002rem 0rem;
                height: calc(100% - 0.002rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ppymjyede0xgc2wrfjgjezxghijpg-ptF {
                  background-image: url('REPLACE_IMAGE:bf4954a739569aea6b338846ecbc51b6bf0b6525');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                  background-size: 100% 100%;
                }
                .desk-menace-7cT {
                  line-height: 1.5;
                  letter-spacing: -0.08rem;
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 700;
                  font-size: 2.4rem;
                }
              }
              .divframer-15iaak3-Cto {
                margin-bottom: 0.002rem;
                height: calc(100% - 0.002rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .vyt2p1aivmmxlc8idg44w2m6gijpg-YSs {
                  width: 29.333rem;
                  height: 29.333rem;
                  background-size: 167.347% 100%;
                  background-image: url('REPLACE_IMAGE:0f5ad6f550a81c2abc29649a447be6dd30362d10');
                  border-radius: 2rem;
                  margin-bottom: 2.95rem;
                  position: relative;
                  background-position: -9.8774rem 0;
                  flex-shrink: 0;
                }
                .dunk-shot-p9V {
                  font-size: 2.4rem;
                  line-height: 1.5;
                  letter-spacing: -0.08rem;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  font-weight: 700;
                  color: #333333;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .divframer-673yc4-Y5V {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rbjaocrhsyvkkv36455fsbt0r0jpg-671 {
                flex-shrink: 0;
                margin-bottom: 2.951rem;
                width: 29.334rem;
                height: 29.334rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:ce678f98960b84cf130567bf1d499902128f496d');
                border-radius: 2rem;
              }
              .filled-glass-B8T {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.5;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                letter-spacing: -0.08rem;
                color: #333333;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
          .auto-group-7hzo-6WK {
            margin-bottom: 6.05rem;
            width: 100%;
            height: 35.884rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-9bqh-RoV {
              padding-right: 6rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;

              .divframer-1edn977-ya7 {
                margin: 0rem 6rem 0.001rem 0rem;
                height: calc(100% - 0.001rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .nr5joyb09bkvvx3psb1oflar3zijpg-WK9 {
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  position: relative;
                  background-size: 167.347% 100%;
                  flex-shrink: 0;
                  height: 29.333rem;
                  background-position: -9.8774rem 0;
                  background-image: url('REPLACE_IMAGE:812e871d7cb7776f2fdf933caeb42599f5daec00');
                  border-radius: 2rem;
                }
                .flapcat-PNw {
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 700;
                  letter-spacing: -0.08rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  line-height: 1.5;
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .divframer-1vdbem4-v7y {
                margin-bottom: 0.001rem;
                height: calc(100% - 0.001rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .xbiglfzfetylrw546ctnx3lpf0jpg-fLT {
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  flex-shrink: 0;
                  height: 29.333rem;
                  position: relative;
                  background-size: 167.347% 100%;
                  background-position: -9.8774rem 0;
                  background-image: url('REPLACE_IMAGE:2217944baca3ae99927cc1dc591fc5df4e2ae60a');
                  border-radius: 2rem;
                }
                .fruit-master-wom {
                  flex-shrink: 0;
                  font-size: 2.4rem;
                  letter-spacing: -0.08rem;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  font-weight: 700;
                  line-height: 1.5;
                  color: #333333;
                }
              }
            }
            .divframer-1wcol68-sSX {
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .snwl9ozil9zaruirrhxo8klfefgjpg-dAo {
                margin-bottom: 2.95rem;
                position: relative;
                background-position: -9.8778rem 0;
                background-image: url('REPLACE_IMAGE:d7539880c42ef535deef8ce0800c73c202e53b53');
                border-radius: 2rem;
                width: 29.334rem;
                height: 29.334rem;
                background-size: 167.347% 100%;
                flex-shrink: 0;
              }
              .fruit-chef-7bm {
                display: flex;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 1.5;
                letter-spacing: -0.08rem;
                color: #333333;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-sa6j-2Tq {
            margin-bottom: 6.0502rem;
            width: 100%;
            height: 35.885rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-eslj-xsH {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 6rem;

              .divframer-1fhomyb-uXd {
                margin: 0rem 6rem 0.002rem 0rem;
                height: calc(100% - 0.002rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .fdeufgacbc926o9hcumbrllcyzkjpg-cwq {
                  background-size: 167.32% 100%;
                  background-image: url('REPLACE_IMAGE:9dac86819da8c53db68df405074945716e887bd2');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                }
                .solitaire-WnK {
                  font-weight: 700;
                  line-height: 1.5;
                  color: #333333;
                  flex-shrink: 0;
                  white-space: nowrap;
                  display: flex;
                  font-size: 2.4rem;
                  letter-spacing: -0.08rem;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .divframer-1ysny2s-SAB {
                flex-shrink: 0;
                margin-bottom: 0.002rem;
                height: calc(100% - 0.002rem);
                display: flex;
                flex-direction: column;

                .wbzbtxgip8ncnra06p1a2mishyqjpg-nE3 {
                  width: 29.333rem;
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  height: 29.333rem;
                  position: relative;
                  background-size: 167.347% 100%;
                  background-position: -9.8774rem 0;
                  background-image: url('REPLACE_IMAGE:32aadbb451d99ba122a239aaf275dd96d18c2042');
                }
                .glass-glow-en3 {
                  font-weight: 700;
                  letter-spacing: -0.08rem;
                  white-space: nowrap;
                  display: flex;
                  font-size: 2.4rem;
                  line-height: 1.5;
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
            .divframer-1mpa80n-BGB {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .z0pc0wvvpgsr9mabuxaeyitgukjpg-L95 {
                height: 29.334rem;
                position: relative;
                background-size: 167.347% 100%;
                background-image: url('REPLACE_IMAGE:0eafd9695712eb67ea21e58bafb34e981f4b1650');
                border-radius: 2rem;
                margin-bottom: 2.951rem;
                width: 29.334rem;
                background-position: -9.8778rem 0;
                flex-shrink: 0;
              }
              .aerial-flight-DCs {
                white-space: nowrap;
                display: flex;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.08rem;
                color: #333333;
                font-size: 2.4rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .auto-group-yrwf-vsy {
            width: 100%;
            height: 35.884rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 6.05rem;

            .auto-group-dl7q-GB9 {
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 6rem;
              height: 100%;
              display: flex;

              .divframer-1a3rw96-cF1 {
                margin: 0rem 6rem 0.002rem 0rem;
                height: calc(100% - 0.002rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .uhj2crinmdai9wjweghq4bpqyw0jpg-8j9 {
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:42befaaf6b6bd1e0adc0de9845ec8edaa4d1d2b2');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.949rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                }
                .flipper-q7m {
                  font-size: 2.4rem;
                  line-height: 1.5;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 700;
                  letter-spacing: -0.08rem;
                  color: #333333;
                  white-space: nowrap;
                }
              }
              .divframer-c1qgsb-jU3 {
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 0.002rem;
                height: calc(100% - 0.002rem);
                display: flex;

                .gidxebm70frzynvpbpdkmgw6hzqjpg-FSP {
                  height: 29.333rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:6802faf7302c2696acdd3922fd3562bb5dac2c77');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.949rem;
                  width: 29.333rem;
                }
                .hop-jump-WNK {
                  display: flex;
                  line-height: 1.5;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  white-space: nowrap;
                  font-size: 2.4rem;
                  font-weight: 700;
                  letter-spacing: -0.08rem;
                  color: #333333;
                }
              }
            }
            .divframer-ts4i1e-CW3 {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .dupebihdjfeap9ppmxcupdss0ijpg-wCj {
                background-image: url('REPLACE_IMAGE:b0af430117ceab02fac3a6253e9e4dcca03df686');
                border-radius: 2rem;
                flex-shrink: 0;
                margin-bottom: 2.95rem;
                position: relative;
                background-size: 167.347% 100%;
                background-position: -9.8778rem 0;
                width: 29.334rem;
                height: 29.334rem;
              }
              .greedy-rabbit-cZm {
                display: flex;
                line-height: 1.5;
                letter-spacing: -0.08rem;
                color: #333333;
                font-size: 2.4rem;
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-jhcb-vqM {
            height: 35.884rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 6.05rem;
            width: 100%;

            .auto-group-ccpf-Fcj {
              box-sizing: border-box;
              padding-right: 6rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .divframer-u62zkn-CXy {
                margin: 0rem 6rem 0.001rem 0rem;
                height: calc(100% - 0.001rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .wjpusrv0rioymjltc6p36rpqc94png-vis {
                  background-size: 150.147% 100%;
                  background-image: url('REPLACE_IMAGE:383bed7f126536c21e46bbf751ea562c5618c684');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                }
                .jumper-frog-2X1 {
                  letter-spacing: -0.08rem;
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.5;
                }
              }
              .divframer-1vwg4o0-YkF {
                margin-bottom: 0.001rem;
                height: calc(100% - 0.001rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .mymbumzlnltsxza1rkaa9p6dzsjpg-grT {
                  background-size: 167.347% 100%;
                  flex-shrink: 0;
                  background-image: url('REPLACE_IMAGE:3a90169bea9a9b7f00662dd0cac0fd05aae18559');
                  border-radius: 2rem;
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                  background-position: -9.8774rem 0;
                }
                .ten-krK {
                  color: #333333;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 700;
                  letter-spacing: -0.08rem;
                  font-size: 2.4rem;
                  line-height: 1.5;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
            .divframer-1unjwpc-svw {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;

              .b8fweyddwadeggi2duqaw9iffgjpg-EWb {
                margin-bottom: 2.95rem;
                width: 29.334rem;
                height: 29.334rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:dc82be3dec36ef53055577cff1a9897b2f112e44');
                border-radius: 2rem;
                flex-shrink: 0;
              }
              .swipe-balls-jCT {
                line-height: 1.5;
                color: #333333;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                font-weight: 700;
                font-size: 2.4rem;
                letter-spacing: -0.08rem;
                white-space: nowrap;
                display: flex;
              }
            }
          }
          .auto-group-1xwq-rXy {
            margin-bottom: 6.05rem;
            width: 100%;
            height: 35.885rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-eghd-nwR {
              box-sizing: border-box;
              padding-right: 6rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .divframer-1ea687p-hYb {
                margin: 0rem 6rem 0.002rem 0rem;
                height: calc(100% - 0.002rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .h0sbbjm8pkyepkwwngmm99btscjpg-Qxo {
                  width: 29.333rem;
                  height: 29.333rem;
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  position: relative;
                  background-size: 167.347% 100%;
                  background-position: -9.8774rem 0;
                  background-image: url('REPLACE_IMAGE:05642c7bc668831d608f9135cfea03df9b53a68c');
                }
                .stick-soldier-gvK {
                  color: #333333;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.08rem;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .divframer-sdu5ik-D9Z {
                margin-bottom: 0.002rem;
                height: calc(100% - 0.002rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .cp8xyvthupq79lq4a5hriljekajpg-wrF {
                  position: relative;
                  background-image: url('REPLACE_IMAGE:07742e254649ea023fc8f8f679e110cd8a4ffeb3');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  background-position: -9.8774rem 0;
                  height: 29.333rem;
                  background-size: 167.347% 100%;
                }
                .scratch-n-win-dUB {
                  line-height: 1.5;
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 700;
                  letter-spacing: -0.08rem;
                  font-size: 2.4rem;
                }
              }
            }
            .divframer-1vtcn9-jGK {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .s1shuhp5d5foqscgycfl3r8tr3wjpg-H2w {
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:8c0e9bc0571e748eed76ed7eb4dbc288f3064cde');
                border-radius: 2rem;
                flex-shrink: 0;
                margin-bottom: 2.951rem;
                width: 29.334rem;
                height: 29.334rem;
                position: relative;
              }
              .pop-shots-Zm9 {
                font-size: 2.4rem;
                line-height: 1.5;
                color: #333333;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-weight: 700;
                letter-spacing: -0.08rem;
              }
            }
          }
          .auto-group-hdrh-gqm {
            margin-bottom: 6.05rem;
            width: 100%;
            height: 35.884rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-cjuj-dFD {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 6rem;
              height: 100%;
              display: flex;
              align-items: center;

              .divframer-1v36jqw-y4B {
                flex-direction: column;
                flex-shrink: 0;
                margin: 0rem 6rem 0.002rem 0rem;
                height: calc(100% - 0.002rem);
                display: flex;

                .urngc8homwtnnxab7dfhvslmgiajpg-HqZ {
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:20836287ed18a6042b1af13a923b85491cda18d7');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.949rem;
                  width: 29.333rem;
                  height: 29.333rem;
                }
                .pumpkin-smasher-apf {
                  letter-spacing: -0.08rem;
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  font-weight: 700;
                  flex-shrink: 0;
                  font-size: 2.4rem;
                  line-height: 1.5;
                }
              }
              .divframer-pecxh4-Jkf {
                margin-bottom: 0.002rem;
                height: calc(100% - 0.002rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .xigu0vbfglu7ua6o4e3giy0pywjpg-eZd {
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:45e30ae454366f2fbc578b4a17c2464e99a12331');
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.949rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                }
                .football-free-kicks-LhM {
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                  line-height: 1.5;
                  letter-spacing: -0.08rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 700;
                }
              }
            }
            .divframer-1u20a7h-TX5 {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .pomcraozzml3fzwp46b3uinermpng-p6j {
                width: 29.334rem;
                height: 29.334rem;
                position: relative;
                background-size: 138.378% 100%;
                background-image: url('REPLACE_IMAGE:246add862aebda52ab7c95d2c5e12b82f402011d');
                border-radius: 2rem;
                flex-shrink: 0;
                margin-bottom: 2.95rem;
              }
              .aliens-attack-Vif {
                line-height: 1.5;
                color: #333333;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                letter-spacing: -0.08rem;
              }
            }
          }
          .auto-group-zatz-cHV {
            flex-shrink: 0;
            width: 100%;
            height: 35.884rem;
            display: flex;
            align-items: center;

            .auto-group-urrb-A47 {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 6rem;

              .divframer-17xi17i-hpj {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0rem 6rem 0.001rem 0rem;
                height: calc(100% - 0.001rem);

                .uyizffqgoyf1ohugar7akbxwq4jpg-S1d {
                  background-position: -9.8774rem 0;
                  border-radius: 2rem;
                  margin-bottom: 2.95rem;
                  height: 29.333rem;
                  background-size: 167.347% 100%;
                  background-image: url('REPLACE_IMAGE:180214e33090fb93528d486dba2c62d242726883');
                  flex-shrink: 0;
                  width: 29.333rem;
                  position: relative;
                }
                .knife-ninja-WGP {
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 700;
                  letter-spacing: -0.08rem;
                  color: #333333;
                  font-family: Inter, 'Source Sans Pro';
                  line-height: 1.5;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .divframer-1kzcwmi-ReF {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 0.001rem;
                height: calc(100% - 0.001rem);

                .cvezeiuzxrc2vzqu95f7g8l9u8jpg-ZEf {
                  border-radius: 2rem;
                  flex-shrink: 0;
                  margin-bottom: 2.95rem;
                  width: 29.333rem;
                  height: 29.333rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:c99cb1cdcaa6f34e10ac16ed8b9fe36e1edaadf7');
                }
                .candy-monster-3fd {
                  color: #333333;
                  white-space: nowrap;
                  flex-shrink: 0;
                  letter-spacing: -0.08rem;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.5;
                }
              }
            }
            .divframer-7l0h9x-6vj {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;

              .indbckfwr05txuicasif7gsg5bmjpg-ehM {
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:17220b2b28751360ab5a27b4e3cdd8e49ae2cab3');
                border-radius: 2rem;
                flex-shrink: 0;
                margin-bottom: 2.95rem;
                width: 29.334rem;
                height: 29.334rem;
                position: relative;
              }
              .astro-dog-M5y {
                font-size: 2.4rem;
                font-weight: 700;
                flex-shrink: 0;
                display: flex;
                line-height: 1.5;
                letter-spacing: -0.08rem;
                color: #333333;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
      .footer-VE7 {
        left: 16rem;
        top: 391.409rem;
        background-color: #ee2a00;
        width: 160rem;
        height: 40.7rem;
        position: absolute;

        .divframer-1yzb8x0-CuD {
          position: absolute;
          left: 31rem;
          top: 6rem;
          display: flex;
          align-items: center;
          width: 93.8rem;
          height: 19.9rem;

          .auto-group-vefz-jPM {
            box-sizing: border-box;
            padding-right: 11.6rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .divframer-hlr9m1-ris {
              width: 10.4rem;
              flex-shrink: 0;
              margin-right: 13.3rem;

              .product-o8K {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.5rem;
                display: flex;
              }
              .divframer-pdb21q-vCw {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;

                .auto-group-uuxb-fwD {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding-bottom: 1rem;

                  .link-game-library-cbZ {
                    font-size: 1.6rem;
                    color: #ffffff;
                    flex-shrink: 0;
                    margin-bottom: 1rem;
                    display: flex;
                    font-weight: 400;
                    line-height: 1.5;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .link-help-centre-KF5 {
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                }
                .link-make-a-game-SqV {
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .divframer-1ndkbvi-yaX {
              margin-right: 8.6rem;
              width: 15.6rem;
              flex-shrink: 0;

              .learn-KeP {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.5rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.5;
              }
              .divframer-z78be-G3q {
                width: 100%;
                display: flex;
                flex-direction: column;

                .link-video-resources-231 {
                  margin-bottom: 1rem;
                  font-size: 1.6rem;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  font-weight: 400;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .link-what-is-gamification-LpP {
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .auto-group-hwh5-Gxw {
                  flex-direction: column;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding-top: 1rem;
                  width: 100%;
                  display: flex;

                  .link-case-studies-cX1 {
                    margin-bottom: 1rem;
                    display: flex;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    font-weight: 400;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .link-blog-Y9m {
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
              }
            }
            .divframer-o0uilp-GbZ {
              width: 9.1rem;
              flex-shrink: 0;

              .support-RUT {
                white-space: nowrap;
                margin-bottom: 1.5rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .divframer-1e0nvuu-N8o {
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;

                .auto-group-ew4o-iTZ {
                  padding-bottom: 1rem;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  box-sizing: border-box;

                  .link-about-us-4XR {
                    flex-shrink: 0;
                    font-weight: 400;
                    line-height: 1.5;
                    font-family: Inter, 'Source Sans Pro';
                    color: #ffffff;
                    white-space: nowrap;
                    margin-bottom: 1rem;
                    display: flex;
                    font-size: 1.6rem;
                  }
                  .link-contact-us-Brw {
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .link-help-centre-KiF {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                }
              }
            }
          }
          .divframer-faa0jr-Fro {
            width: 25.2rem;
            height: 100%;
            flex-shrink: 0;

            .top-articles-Cn3 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.5rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #ffffff;
            }
            .divframer-19aelvq-9BV {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-nprr-6Md {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 1rem;
                width: 100%;
                row-gap: 1rem;
                display: flex;
                flex-direction: column;

                .link-advergaming-Dh9 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                }
                .link-gamification-marketing-xej {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                }
                .link-game-marketing-6F9 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                }
                .link-gamification-EMM {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                }
              }
              .link-successful-marketing-campaigns-yJw {
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
              }
            }
          }
        }
        .divframer-iitih6-68f {
          width: 100rem;
          height: 5.8rem;
          position: absolute;
          left: 31rem;
          top: 31.9rem;

          .gamify-all-rights-reserved-privacy-policy-Qf9 {
            white-space: nowrap;
            width: 35.9rem;
            top: 3.4409rem;
            font-size: 1.3rem;
            line-height: 1.2000000293;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            height: 1.6rem;
            position: absolute;
            left: 0;
            display: flex;
            font-weight: 400;
          }
          .divframer-uvzujr-container-Ffm {
            top: 3rem;
            align-items: center;
            box-sizing: border-box;
            width: 25.6rem;
            left: 74.4rem;
            display: flex;
            padding: 0.233rem 0.18rem 0.233rem 0.35rem;
            height: 2.8rem;
            position: absolute;

            .link-svg-KQj {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.53rem 0rem 0rem;
              width: 2.1rem;
              height: 2.1rem;
            }
            .link-svg-RCs {
              flex-shrink: 0;
              margin: 0.116rem 1.413rem 0rem 0rem;
              width: 2.4407rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
            }
            .link-svg-Xmh {
              height: 2.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.5833rem;
              width: 2.3333rem;
            }
            .link-svg-4Fq {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.583rem 0rem 0rem;
              width: 2.1rem;
              height: 2.1rem;
            }
            .link-svg-ajy {
              margin-right: 1.4667rem;
              width: 2.3333rem;
              height: 2.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .link-svg-W7q {
              width: 2.3333rem;
              height: 2.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.413rem;
            }
            .link-svg-puD {
              margin-top: 0.1164rem;
              width: 2.4407rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .after-k2B {
            width: 100rem;
            height: 5.8rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #ffffff;
            box-sizing: border-box;
          }
        }
        .after-ThH {
          width: 160rem;
          height: 40.7rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem rgba(0, 0, 0, 0.0500000007);
          box-sizing: border-box;
        }
      }
    }
  }
}
