
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.sign-up-o9Z {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #ffffff;

  .divframer-m7zs3h-uTV {
    background-color: #ffffff;
    flex-shrink: 0;
    margin: 0rem 16rem 1.4rem 16rem;
    width: calc(100% - 32rem);
    height: 8rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.0860000029), 0 0.2289rem 0.2289rem rgba(0, 0, 0, 0.1449999958), 0 0.0602rem 0.0602rem rgba(0, 0, 0, 0.1570000052);

    .pframer-text-oYs {
      font-size: 1.4rem;
      top: 2.71rem;
      line-height: 1.5999999728;
      color: #007fee;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 700;
      height: 2.4089rem;
      cursor: pointer;
      position: absolute;
      display: flex;
      letter-spacing: 0.056rem;
      width: 9.9rem;
      white-space: nowrap;
      left: 81.119rem;
    }
    .pframer-text-1ew {
      cursor: pointer;
      color: #007fee;
      position: absolute;
      left: 94.252rem;
      top: 2.71rem;
      display: flex;
      font-size: 1.4rem;
      width: 5.3rem;
      height: 2.4089rem;
      font-weight: 700;
      line-height: 1.5999999728;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      letter-spacing: 0.056rem;
    }
    .pframer-text-H6f {
      left: 102.764rem;
      font-size: 1.4rem;
      letter-spacing: 0.056rem;
      width: 9.8rem;
      height: 2.4089rem;
      display: flex;
      font-weight: 700;
      white-space: nowrap;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.5999999728;
      color: #007fee;
      cursor: pointer;
      top: 2.71rem;
    }
    .pframer-text-xyV {
      width: 15.4rem;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      left: 115.775rem;
      top: 2.71rem;
      letter-spacing: 0.056rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5999999728;
      color: #2996f5;
      height: 2.4089rem;
      cursor: pointer;
      position: absolute;
      white-space: nowrap;
    }
    .pframer-text-4Fq {
      line-height: 1.5999999728;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      left: 134.438rem;
      display: flex;
      letter-spacing: 0.056rem;
      height: 2.4089rem;
      font-weight: 700;
      position: absolute;
      top: 2.71rem;
      font-size: 1.4rem;
      color: #007fee;
      width: 3.3rem;
    }
    .link-Ygo {
      font-size: 1.4rem;
      position: absolute;
      left: 141.014rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      color: #000000;
      background-color: #f7931e;
      border-radius: 0.5rem;
      height: 4rem;
      top: 2rem;
      justify-content: center;
      line-height: 1.1999999455;
      box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.0500000007), 0 1.3647rem 1.3647rem rgba(0, 0, 0, 0.1059999987), 0 0.6866rem 0.6866rem rgba(0, 0, 0, 0.125), 0 0.3622rem 0.3622rem rgba(0, 0, 0, 0.1369999945), 0 0.1807rem 0.1807rem rgba(0, 0, 0, 0.1449999958), 0 0.0707rem 0.0707rem rgba(0, 0, 0, 0.150000006);
      width: 13.986rem;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .after-few {
      border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
      box-sizing: border-box;
      width: 160rem;
      height: 8rem;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .auto-group-28rb-WfZ {
    width: 100%;
    height: 377.5rem;
    position: relative;
    flex-shrink: 0;

    .divframer-1vpc604-Fd9 {
      width: 160rem;
      height: 25.6rem;
      position: absolute;
      left: 16rem;
      top: 69.108rem;
      overflow: hidden;
      background-color: #ffffff;
    }
    .divframer-1fl2dl4-a9d {
      padding: 5.75rem 45.867rem 8.2rem 46rem;
      height: 176.4rem;
      left: 0;
      overflow: hidden;
      box-sizing: border-box;
      width: 192rem;
      position: absolute;
      top: 94.708rem;
      background-color: #ffffff;

      .divframer-1l3mxli-UF1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .auto-group-ue3q-o2P {
          margin-bottom: 6rem;
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .gfw-hhhhhdoesication-work-KWX {
            max-width: 25.4rem;
            font-size: 4rem;
            font-weight: 700;
            color: #444444;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 9.933rem;
            display: flex;
            line-height: 1.2;

            .gfw-hhhhhdoesication-work-KWX-sub-0 {
            }
            .gfw-hhhhhdoesication-work-KWX-sub-1 {
              color: #d9d9d9;
              font-family: Inter, 'Source Sans Pro';
              font-size: 4rem;
              font-weight: 700;
              line-height: 1.2;
            }
            .gfw-hhhhhdoesication-work-KWX-sub-2 {
            }
          }
          .divframer-1a1gnml-7DR {
            width: 64.8rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.05rem;

            .auto-group-m7y1-2rB {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-bottom: 2.8rem;

              .strong-gamification-Nv3 {
                display: flex;
                letter-spacing: -0.05rem;
                color: #888888;
                margin-bottom: 1.4rem;
                max-width: 61.6rem;
                line-height: 1.4;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 700;

                .strong-gamification-Nv3-sub-0 {
                }
                .strong-gamification-Nv3-sub-1 {
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.4;
                  letter-spacing: -0.05rem;
                  color: #888888;
                  font-family: Inter, 'Source Sans Pro';
                }
                .strong-gamification-Nv3-sub-2 {
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.4;
                  letter-spacing: -0.05rem;
                  color: #888888;
                }
                .strong-gamification-Nv3-sub-3 {
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.4;
                  letter-spacing: -0.05rem;
                  color: #888888;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .games-and-game-like-elements-have-been-used-to-educate-entertain-and-engage-for-thousands-of-years-some-classic-game-elements-are-points-badges-and-leaderboards-CRD {
                line-height: 1.4;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 63.6rem;
                display: flex;
                font-size: 2rem;
                font-weight: 500;
                letter-spacing: -0.05rem;
                color: #888888;
              }
            }
            .strong-points-SKZ {
              max-width: 64.8rem;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.4;
              letter-spacing: -0.05rem;
              color: #f7931e;

              .strong-points-SKZ-sub-0 {
              }
              .strong-points-SKZ-sub-1 {
                letter-spacing: -0.05rem;
                color: #888888;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.4;
              }
            }
            .auto-group-mqu1-9tB {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 1.4rem;
              width: 100%;

              .strong-badges-6Hd {
                font-family: Inter, 'Source Sans Pro';
                max-width: 63.3rem;
                font-weight: 700;
                letter-spacing: -0.05rem;
                color: #f7931e;
                flex-shrink: 0;
                margin-bottom: 1.4rem;
                display: flex;
                font-size: 2rem;
                line-height: 1.4;

                .strong-badges-6Hd-sub-0 {
                }
                .strong-badges-6Hd-sub-1 {
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.4;
                  letter-spacing: -0.05rem;
                  color: #888888;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .heading-3-cQP {
                flex-direction: column;
                flex-shrink: 0;
                display: flex;

                .strong-leaderboards-a6K {
                  margin-bottom: 2.8rem;
                  font-weight: 700;
                  line-height: 1.4;
                  color: #f7931e;
                  max-width: 63.5rem;
                  display: flex;
                  font-size: 2rem;
                  letter-spacing: -0.05rem;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;

                  .strong-leaderboards-a6K-sub-0 {
                  }
                  .strong-leaderboards-a6K-sub-1 {
                    font-weight: 500;
                    line-height: 1.4;
                    letter-spacing: -0.05rem;
                    color: #888888;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 2rem;
                  }
                }
                .for-more-information-on-these-gamification-fundamentals-check-out-the-8-core-human-drives-of-gamification-there-are-many-different-definitions-for-the-term-gamification-one-of-the-most-popular-gamification-definitions-can-be-found-in-an-academic-paper-from-2011-where-gamification-was-defined-as-the-addition-of-game-elements-to-non-game-activities-Vcb {
                  line-height: 1.4;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 63.4rem;
                  font-weight: 500;
                  letter-spacing: -0.05rem;
                  color: #888888;
                  display: flex;
                  font-size: 2rem;
                }
              }
            }
          }
        }
        .divframer-hpmuq9-rbZ {
          flex-shrink: 0;
          width: 100rem;

          .whats-interesting-is-that-gamification-is-not-a-new-concept-while-the-term-may-have-been-coined-in-more-recent-times-the-concept-has-existed-in-many-areas-of-life-for-as-long-as-civilisation-has-existed-if-you-remember-watching-mary-poppins-she-sums-up-gamification-quite-nicely-with-the-quote-in-every-job-that-must-be-done-there-is-an-element-of-fun-you-find-the-fun-and-snap-the-jobs-a-game-B83 {
            margin-bottom: 1.4rem;
            line-height: 1.4;
            color: #888888;
            font-family: Inter, 'Source Sans Pro';
            max-width: 96.4rem;
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: -0.05rem;

            .whats-interesting-is-that-gamification-is-not-a-new-concept-while-the-term-may-have-been-coined-in-more-recent-times-the-concept-has-existed-in-many-areas-of-life-for-as-long-as-civilisation-has-existed-if-you-remember-watching-mary-poppins-she-sums-up-gamification-quite-nicely-with-the-quote-in-every-job-that-must-be-done-there-is-an-element-of-fun-you-find-the-fun-and-snap-the-jobs-a-game-B83-sub-0 {
            }
            .whats-interesting-is-that-gamification-is-not-a-new-concept-while-the-term-may-have-been-coined-in-more-recent-times-the-concept-has-existed-in-many-areas-of-life-for-as-long-as-civilisation-has-existed-if-you-remember-watching-mary-poppins-she-sums-up-gamification-quite-nicely-with-the-quote-in-every-job-that-must-be-done-there-is-an-element-of-fun-you-find-the-fun-and-snap-the-jobs-a-game-B83-sub-1 {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.4;
              letter-spacing: -0.05rem;
              font-style: italic;
              color: #888888;
              font-family: Inter, 'Source Sans Pro';
            }
            .whats-interesting-is-that-gamification-is-not-a-new-concept-while-the-term-may-have-been-coined-in-more-recent-times-the-concept-has-existed-in-many-areas-of-life-for-as-long-as-civilisation-has-existed-if-you-remember-watching-mary-poppins-she-sums-up-gamification-quite-nicely-with-the-quote-in-every-job-that-must-be-done-there-is-an-element-of-fun-you-find-the-fun-and-snap-the-jobs-a-game-B83-sub-2 {
            }
          }
          .she-was-onto-something-here-mary-poppins-knew-all-the-way-back-in-the-1960s-that-anything-could-be-turned-into-a-fun-activity-by-making-it-into-a-game-there-were-prominent-examples-of-gamification-existing-even-earlier-than-mary-poppins-however-Cas {
            font-family: Inter, 'Source Sans Pro';
            max-width: 100rem;
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: -0.05rem;
            color: #888888;
          }
          .auto-group-acgo-dgB {
            display: flex;
            flex-direction: column;
            width: 100%;

            .back-in-the-early-1900s-if-you-were-a-boy-scout-you-could-obtain-real-badges-and-ranks-a-tradition-that-is-still-carried-out-today-however-as-video-games-started-to-take-off-we-saw-educational-video-games-then-become-popular-in-the-1970s-and-80s-you-may-remember-such-games-as-where-in-the-world-is-carmen-san-diego-reader-rabbit-and-math-blaster-these-games-were-forms-of-entertainment-that-were-built-for-serious-purposes-to-educate-players-mXV {
              display: flex;
              letter-spacing: -0.05rem;
              color: #888888;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 99.7rem;
              font-weight: 500;
              line-height: 1.4;
              font-size: 2rem;
            }
            .link-foursquare-UKR {
              line-height: 1.4;
              letter-spacing: -0.05rem;
              font-family: Inter, 'Source Sans Pro';
              max-width: 98.8rem;
              font-size: 2rem;
              font-weight: 500;
              flex-shrink: 0;
              margin-bottom: 1.4rem;
              display: flex;
              color: #888888;
            }
            .if-you-checked-into-a-place-more-than-anyone-else-you-became-the-foursquare-mayor-of-that-location-this-user-experience-felt-like-a-game-and-it-was-a-lot-of-fun-to-use-foursquare-became-a-popular-example-of-an-app-increasing-user-engagement-through-loyalty-program-gamification-NQo {
              margin-bottom: 1.4rem;
              max-width: 98.9rem;
              display: flex;
              line-height: 1.4;
              color: #888888;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              letter-spacing: -0.05rem;

              .if-you-checked-into-a-place-more-than-anyone-else-you-became-the-foursquare-mayor-of-that-location-this-user-experience-felt-like-a-game-and-it-was-a-lot-of-fun-to-use-foursquare-became-a-popular-example-of-an-app-increasing-user-engagement-through-loyalty-program-gamification-NQo-sub-0 {
              }
              .if-you-checked-into-a-place-more-than-anyone-else-you-became-the-foursquare-mayor-of-that-location-this-user-experience-felt-like-a-game-and-it-was-a-lot-of-fun-to-use-foursquare-became-a-popular-example-of-an-app-increasing-user-engagement-through-loyalty-program-gamification-NQo-sub-1 {
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.4;
                letter-spacing: -0.05rem;
                font-style: italic;
                color: #888888;
                font-family: Inter, 'Source Sans Pro';
              }
              .if-you-checked-into-a-place-more-than-anyone-else-you-became-the-foursquare-mayor-of-that-location-this-user-experience-felt-like-a-game-and-it-was-a-lot-of-fun-to-use-foursquare-became-a-popular-example-of-an-app-increasing-user-engagement-through-loyalty-program-gamification-NQo-sub-2 {
              }
            }
            .whats-interesting-though-was-that-the-game-elements-they-used-started-to-appear-in-many-different-other-applications-and-websites-this-may-have-contributed-to-these-game-elements-becoming-a-popular-way-to-add-gamification-imV {
              margin-bottom: 1.4rem;
              font-size: 2rem;
              font-weight: 500;
              flex-shrink: 0;
              color: #888888;
              font-family: Inter, 'Source Sans Pro';
              max-width: 97.6rem;
              display: flex;
              line-height: 1.4;
              letter-spacing: -0.05rem;
            }
            .these-days-were-seeing-more-and-more-serious-games-in-gamification-partly-because-video-games-have-become-mainstream-and-as-well-smartphones-have-made-it-incredibly-easy-to-play-games-anywhere-at-any-time-wu9 {
              letter-spacing: -0.05rem;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.4;
              color: #888888;
              flex-shrink: 0;
              max-width: 98.2rem;
              display: flex;
            }
          }
        }
      }
    }
    .divframer-igcazs-xpF {
      position: absolute;
      left: 6.2rem;
      top: 0;
      overflow: hidden;
      background-color: #ee2a00;
      width: 176rem;
      height: 377.5rem;

      .article-H5q {
        width: 95.2rem;
        height: 351.508rem;
        position: absolute;
        left: 72.8rem;
        top: 13rem;
        overflow: hidden;
        border-radius: 1rem;
      }
      .rectangle-2-oZy {
        width: 137.2rem;
        height: 250.6rem;
        position: absolute;
        left: 19.4rem;
        top: 63.5rem;
        background-color: #d9d9d9;
      }
      .rectangle-11-KoD {
        height: 18.2rem;
        position: absolute;
        left: 65.3rem;
        top: 256.8rem;
        background-color: #000000;
        width: 45.4rem;
      }
      .email-4Vu {
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 600;
        top: 106.2rem;
        justify-content: center;
        font-size: 15rem;
        line-height: 0.1119999949;
        white-space: nowrap;
        width: 46.2rem;
        position: absolute;
        align-items: center;
        color: #f8f0f0;
        height: 1.7rem;
        left: 50.7rem;
      }
      .rectangle-8-YAB {
        width: 102.3rem;
        height: 31.3rem;
        position: absolute;
        left: 36.8rem;
        top: 91rem;
        background-color: #000000;
      }
      .first-name-Gby {
        font-size: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0.1119999949;
        color: #f8f0f0;
        font-family: Inter, 'Source Sans Pro';
        height: 1.7rem;
        position: absolute;
        top: 105.8rem;
        font-weight: 600;
        width: 78.4rem;
        left: 46.2rem;
        white-space: nowrap;
      }
      .rectangle-4-Zb5 {
        width: 102.3rem;
        height: 31.3rem;
        position: absolute;
        left: 36.8rem;
        top: 132.5rem;
        background-color: #000000;
      }
      .last-name-JHm {
        position: absolute;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        height: 1.7rem;
        left: 46.45rem;
        top: 148.1rem;
        line-height: 0.1119999949;
        display: flex;
        align-items: center;
        white-space: nowrap;
        width: 76.9rem;
        justify-content: center;
        font-size: 15rem;
        color: #f8f0f0;
      }
      .rectangle-9-bXm {
        width: 102.3rem;
        height: 31.3rem;
        position: absolute;
        left: 36.8rem;
        top: 173.1rem;
        background-color: #000000;
      }
      .rectangle-10-LET {
        background-color: #000000;
        width: 102.3rem;
        height: 31.3rem;
        position: absolute;
        left: 36.8rem;
        top: 213.7rem;
      }
      .email-U5m {
        height: 1.7rem;
        display: flex;
        white-space: nowrap;
        width: 46.2rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        color: #f8f0f0;
        left: 62.3rem;
        font-weight: 600;
        line-height: 0.1119999949;
        font-size: 15rem;
        top: 188.7rem;
        align-items: center;
        justify-content: center;
      }
      .password-Ngw {
        width: 71.2rem;
        white-space: nowrap;
        line-height: 0.1119999949;
        color: #f8f0f0;
        font-family: Inter, 'Source Sans Pro';
        height: 1.7rem;
        left: 49.8rem;
        align-items: center;
        font-size: 15rem;
        justify-content: center;
        position: absolute;
        top: 228.8rem;
        display: flex;
        font-weight: 600;
      }
      .submit-gBq {
        display: flex;
        line-height: 3.2096774194;
        font-family: Inter, 'Source Sans Pro';
        width: 29.5rem;
        cursor: pointer;
        justify-content: center;
        font-weight: 600;
        letter-spacing: 1.364rem;
        height: 19.9rem;
        left: 73.3rem;
        align-items: center;
        position: absolute;
        top: 256.25rem;
        font-size: 6.2rem;
        color: #f8f0f0;
        white-space: nowrap;
      }
    }
  }
  .footer-9LK {
    height: 40.7rem;
    position: relative;
    background-color: #2996f5;
    flex-shrink: 0;
    margin: 0rem 9.8rem 0rem 6.2rem;
    width: calc(100% - 16rem);

    .divframer-1yzb8x0-FPM {
      width: 93.8rem;
      height: 19.9rem;
      position: absolute;
      left: 39rem;
      top: 6rem;
      display: flex;
      align-items: center;

      .auto-group-h7qq-ND5 {
        padding-right: 11.6rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;

        .divframer-hlr9m1-JcX {
          margin-right: 13.3rem;
          width: 10.4rem;
          flex-shrink: 0;

          .product-ct7 {
            margin-bottom: 1.5rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .divframer-pdb21q-jhq {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-gzxj-gd5 {
              padding-bottom: 1rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;

              .link-game-library-dHR {
                line-height: 1.5;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 1rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                color: #ffffff;
                white-space: nowrap;
              }
              .link-help-centre-YfH {
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
            .link-make-a-game-UJ3 {
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
            }
          }
        }
        .divframer-1ndkbvi-obD {
          margin-right: 8.6rem;
          width: 15.6rem;
          flex-shrink: 0;

          .learn-wxK {
            white-space: nowrap;
            margin-bottom: 1.5rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .divframer-z78be-tcf {
            flex-direction: column;
            width: 100%;
            display: flex;

            .link-video-resources-q27 {
              margin-bottom: 1rem;
              line-height: 1.5;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              color: #ffffff;
            }
            .link-what-is-gamification-jtB {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .auto-group-ubdr-fmq {
              padding-top: 1rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;

              .link-case-studies-ot3 {
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                display: flex;
                font-size: 1.6rem;
                line-height: 1.5;
                color: #ffffff;
              }
              .link-blog-jWo {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
              }
            }
          }
        }
        .divframer-o0uilp-4JB {
          flex-shrink: 0;
          width: 9.1rem;

          .support-cKh {
            margin-bottom: 1.5rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .divframer-1e0nvuu-ZEw {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-etgf-71Z {
              box-sizing: border-box;
              padding-bottom: 1rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .link-about-us-SpX {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                margin-bottom: 1rem;
                display: flex;
                line-height: 1.5;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                white-space: nowrap;
              }
              .link-contact-us-xns {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
              }
            }
            .link-help-centre-6eB {
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
            }
          }
        }
      }
      .divframer-faa0jr-csR {
        width: 25.2rem;
        height: 100%;
        flex-shrink: 0;

        .top-articles-yCB {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          display: flex;
        }
        .divframer-19aelvq-6nb {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-dx39-T7M {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 1rem;
            width: 100%;
            row-gap: 1rem;

            .link-advergaming-PFu {
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .link-gamification-marketing-K9Z {
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
            }
            .link-game-marketing-EnK {
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .link-gamification-n39 {
              line-height: 1.5;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
          .link-successful-marketing-campaigns-KHy {
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
          }
        }
      }
    }
    .divframer-iitih6-e5M {
      height: 5.8rem;
      position: absolute;
      left: 39rem;
      top: 31.9rem;
      width: 100rem;

      .gamify-all-rights-reserved-privacy-policy-xbq {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 3.44rem;
        display: flex;
        font-size: 1.3rem;
        line-height: 1.2000000293;
        width: 35.9rem;
        height: 1.6rem;
        font-weight: 400;
        color: #ffffff;
      }
      .divframer-uvzujr-container-eDm {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 2.8rem;
        left: 74.4rem;
        top: 3rem;
        padding: 0.233rem 0.18rem 0.233rem 0.35rem;
        width: 25.6rem;
        position: absolute;

        .link-svg-6bZ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.53rem 0rem 0rem;
          width: 2.1rem;
          height: 2.1rem;
        }
        .link-svg-oF5 {
          margin: 0.116rem 1.413rem 0rem 0rem;
          width: 2.4407rem;
          height: 1.9833rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .link-svg-Vdh {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5833rem;
          width: 2.3333rem;
          height: 2.3333rem;
          object-fit: contain;
        }
        .link-svg-pR5 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.583rem 0rem 0rem;
          width: 2.1rem;
          height: 2.1rem;
          object-fit: contain;
        }
        .link-svg-k3q {
          margin-right: 1.4666rem;
          width: 2.3333rem;
          height: 2.3333rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .link-svg-5bu {
          margin-right: 1.4131rem;
          width: 2.3333rem;
          height: 2.3333rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .link-svg-21M {
          height: 1.9833rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1164rem;
          width: 2.4407rem;
        }
      }
      .after-ki3 {
        width: 100rem;
        height: 5.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #ffffff;
        box-sizing: border-box;
      }
    }
    .after-5VR {
      height: 40.7rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.1rem rgba(0, 0, 0, 0.0500000007);
      box-sizing: border-box;
      width: 176rem;
    }
  }
}
